<div class="main" ng-controller="AaaController" ng-if="!isEn">
    <header>
        <h3>广告受众分析</h3>
        <aidcid render-fn="aaa.render(aid,cid)"></aidcid>
    </header>
    <section class="content" ng-init="aaa.itemShow=1">
        <nav class="content-nav">
            <a href="javascript:void(0)" ng-click="aaa.itemShow=1;aaa.renderTab()" ng-class="{active:aaa.itemShow==1}">广告曝光受众分析</a>
            <a href="javascript:void(0)" ng-click="aaa.itemShow=2;aaa.renderTab()" ng-class="{active:aaa.itemShow==2}">广告点击受众分析</a>
        </nav>
        <div class="content-main">
            <div class="item" id="item{{$index+1}}" ng-show="aaa.itemShow=={{$index+1}}" ng-repeat="type in ['A','B']">
                <div class="item-title">
                    广告{{type=='A' ? '曝光' : '点击'}}受众分析
                </div>
                <div class="item-large large-gender">
                    <div class="large-title"><i class="fa fa-venus-mars"></i>性别分布</div>
                    <section class="flex">
                        <div class="gender-item" ng-repeat="c in (type=='A' ? aaa.canvasDataA : aaa.canvasDataB)">
                            <canvas title="{{c.value}}%" data-value="{{c.value}}" id="gender_canvas{{type}}{{$index}}" width="120" height="120"></canvas>
                            <div class="g-item-type">
                                {{c.type}}({{c.name}})
                            </div>
                            <div class="g-item-value">
                                {{c.value}}%
                            </div>
                        </div>
                    </section>
                </div>
                <div class="item-large">
                    <div class="large-title"><i class="fa fa-money"></i>收入分布</div>
                    <section class="hc-wrap">
                        <div id="hc-income{{type}}" ng-show="type=='A' ? aaa.incomeA : aaa.incomeB"></div>
                    </section>
                </div>
                <div class="item-large">
                    <div class="large-title"><i class="fa fa-user-md"></i>年龄分布</div>
                    <section class="hc-wrap">
                        <div id="hc-age{{type}}" ng-show="type=='A' ? aaa.ageA : aaa.ageB"></div>
                    </section>
                </div>
                <div class="item-large">
                    <div class="large-title"><i class="fa fa-graduation-cap"></i>教育分布</div>
                    <section class="hc-wrap">
                        <div id="hc-edu{{type}}" ng-show="type=='A' ? aaa.eduA : aaa.eduB"></div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="fl">如果您在使用产品中有任何问题，请联系我们：<a href="mailto:support@ad-rating.com">support@ad-rating.com</a></div>
        <div class="fr">&copy; 2016 Powered by AdRating</div>
    </footer>
</div>
<!-- en -->
<div class="main" ng-controller="AaaController" ng-if="isEn">
    <header>
        <h3>Ad Audience Analysis</h3>
        <aidcid render-fn="aaa.render(aid,cid)"></aidcid>
    </header>
    <section class="content" ng-init="aaa.itemShow=1">
        <nav class="content-nav">
            <a href="javascript:void(0)" ng-click="aaa.itemShow=1;aaa.renderTab()" ng-class="{active:aaa.itemShow==1}">AD exposure audience analysis</a>
            <a href="javascript:void(0)" ng-click="aaa.itemShow=2;aaa.renderTab()" ng-class="{active:aaa.itemShow==2}">AD click audience analysis</a>
        </nav>
        <div class="content-main">
            <div class="item" id="item{{$index+1}}" ng-show="aaa.itemShow=={{$index+1}}" ng-repeat="type in ['A','B']">
                <div class="item-title">
                    AD{{type=='A' ? ' exposure ' : 'click '}}audience analysis
                </div>
                <div class="item-large large-gender">
                    <div class="large-title"><i class="fa fa-venus-mars"></i>Gender</div>
                    <section class="flex">
                        <div class="gender-item" ng-repeat="c in (type=='A' ? aaa.canvasDataA : aaa.canvasDataB)">
                            <canvas title="{{c.value}}%" data-value="{{c.value}}" id="gender_canvas{{type}}{{$index}}" width="120" height="120"></canvas>
                            <div class="g-item-type">
                                {{c.type}}({{c.name}})
                            </div>
                            <div class="g-item-value">
                                {{c.value}}%
                            </div>
                        </div>
                    </section>
                </div>
                <div class="item-large">
                    <div class="large-title"><i class="fa fa-money"></i>Income</div>
                    <section class="hc-wrap">
                        <div id="hc-income{{type}}" ng-show="type=='A' ? aaa.incomeA : aaa.incomeB"></div>
                    </section>
                </div>
                <div class="item-large">
                    <div class="large-title"><i class="fa fa-user-md"></i>Age</div>
                    <section class="hc-wrap">
                        <div id="hc-age{{type}}" ng-show="type=='A' ? aaa.ageA : aaa.ageB"></div>
                    </section>
                </div>
                <div class="item-large">
                    <div class="large-title"><i class="fa fa-graduation-cap"></i>Education</div>
                    <section class="hc-wrap">
                        <div id="hc-edu{{type}}" ng-show="type=='A' ? aaa.eduA : aaa.eduB"></div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="fl">if you have any problem in using the product, please contact us.<a href="mailto:support@ad-rating.com">support@ad-rating.com</a></div>
        <div class="fr">&copy; 2016 Powered by AdRating</div>
    </footer>
</div>

