<div>
    <div class="control" ng-if="!isEn">
        <label for="">广告客户</label>
        <select ng-options="a as a.text for a in vm.listAid track by a.id" class="form-control" ng-change="vm.getCid(vm.aid.id)" ng-model="vm.aid">
        </select>
        <label for="">广告名称</label>
        <select ng-options="c as c.text for c in vm.listCid track by c.id" ng-model="vm.cid" ng-disabled="!vm.aid" class="form-control">
        </select>
        <button ng-click="run(vm.aid,vm.cid)" ng-disabled="!vm.cid" class="btn btn-primary">开始运行</button>
    </div>
    <!-- en -->
    <div class="control" ng-if="isEn">
        <label for="">Advertiser</label>
        <select ng-options="a as a.text for a in vm.listAid track by a.id" class="form-control" ng-change="vm.getCid(vm.aid.id)" ng-model="vm.aid">
        </select>
        <label for="">Campaign</label>
        <select ng-options="c as c.text for c in vm.listCid track by c.id" ng-model="vm.cid" ng-disabled="!vm.aid" class="form-control">
        </select>
        <button ng-click="run(vm.aid,vm.cid)" ng-disabled="!vm.cid" class="btn btn-primary">Run now</button>
    </div>
</div>
