<div class="main" ng-controller="AoaController"  ng-if="!isEn">
    <header>
        <h3>广告优化分析</h3>
        <aidcid render-fn="aoa.render(aid,cid)"></aidcid>
    </header>
    <section class="content">
        <div class="item">
            <div class="item-block item-block_uv">
                <div class="block-title"><i class="fa fa-pie-chart"></i>去重独立用户到达率 UV Reach%</div>
                <div ng-show="aoa.uvIsShow" id="container" style="height: 400px"></div>
            </div>
            <div class="item-block item-block_du">
                <div class="block-title"><i class="fa fa-signal"></i>重合度％</div>
                <section class="flex">
                    <div class="arank-item" ng-repeat="k in aoa.dupliction">
                        <div class="a-item-line">
                            <div class="inner" style="height:{{k.per}}%;background-color:{{aoa.du_color[$index]}}">
                                <span class="per">{{k.value}}%</span>
                            </div>
                        </div>
                        <div class="a-item-website">{{k.name}}</div>
                    </div>
                </section>
            </div>
            <div class="item-block du_table">
                <div class="block-title"><i class="fa fa-users"></i>网站重合人数</div>
                <section>
                    <table class="table">
                        <tr ng-repeat="r in aoa.du_table1 track by $index">
                            <td ng-repeat="c in r track by $index" ng-class="{red:$parent.$index+$index===r.length-1}">
                                {{c}}
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
            <div class="item-block du_table">
                <div class="block-title"><i class="fa fa-object-ungroup"></i>网站重合人数百分比</div>
                <section>
                    <table class="table">
                        <tr ng-repeat="r in aoa.du_table2 track by $index">
                            <td ng-repeat="c in r track by $index" ng-class="{red:$parent.$index+$index===r.length-1}">
                                {{c | adperFlt}}
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
        <div class="item-table">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>网站</th>
                        <th>PV</th>
                        <th>UV Reach</th>
                        <th>Exclusive UV Reach</th>
                        <th>Exclusive UV Reach %</th>
                        <th>Duplication %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in aoa.du_table3">
                        <td>{{d.website}}</td>
                        <td>{{d.pv}}</td>
                        <td>{{d.uv}}</td>
                        <td>{{d.euv}}</td>
                        <td>{{d.euvp}}</td>
                        <td>{{d.dup}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <footer>
        <div class="fl">如果您在使用产品中有任何问题，请联系我们：<a href="mailto:support@ad-rating.com">support@ad-rating.com</a></div>
        <div class="fr">&copy; 2016 Powered by AdRating</div>
    </footer>
</div>
<div class="main" ng-controller="AoaController"  ng-if="isEn">
    <header>
        <h3>Ad Optimize Analysis</h3>
        <aidcid render-fn="aoa.render(aid,cid)"></aidcid>
    </header>
    <section class="content">
        <div class="item">
            <div class="item-block item-block_uv">
                <div class="block-title"><i class="fa fa-pie-chart"></i>Exclusive UV Reach %</div>
                <div ng-show="aoa.uvIsShow" id="container" style="height: 400px"></div>
            </div>
            <div class="item-block item-block_du">
                <div class="block-title"><i class="fa fa-signal"></i>Duplication %</div>
                <section class="flex">
                    <div class="arank-item" ng-repeat="k in aoa.dupliction">
                        <div class="a-item-line">
                            <div class="inner" style="height:{{k.per}}%;background-color:{{aoa.du_color[$index]}}">
                                <span class="per">{{k.value}}%</span>
                            </div>
                        </div>
                        <div class="a-item-website">{{k.name}}</div>
                    </div>
                </section>
            </div>
            <div class="item-block du_table">
                <div class="block-title"><i class="fa fa-users"></i>Website UV Duplication</div>
                <section>
                    <table class="table">
                        <tr ng-repeat="r in aoa.du_table1 track by $index">
                            <td ng-repeat="c in r track by $index" ng-class="{red:$parent.$index+$index===r.length-1}">
                                {{c}}
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
            <div class="item-block du_table">
                <div class="block-title"><i class="fa fa-object-ungroup"></i>Website UV Duplication %</div>
                <section>
                    <table class="table">
                        <tr ng-repeat="r in aoa.du_table2 track by $index">
                            <td ng-repeat="c in r track by $index" ng-class="{red:$parent.$index+$index===r.length-1}">
                                {{c | adperFlt}}
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
        <div class="item-table">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>网站</th>
                        <th>PV</th>
                        <th>UV Reach</th>
                        <th>Exclusive UV Reach</th>
                        <th>Exclusive UV Reach %</th>
                        <th>Duplication %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in aoa.du_table3">
                        <td>{{d.website}}</td>
                        <td>{{d.pv}}</td>
                        <td>{{d.uv}}</td>
                        <td>{{d.euv}}</td>
                        <td>{{d.euvp}}</td>
                        <td>{{d.dup}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <footer>
        <div class="fl">If you have any problem in using the product, please contact us.<a href="mailto:support@ad-rating.com">support@ad-rating.com</a></div>
        <div class="fr">&copy; 2016 Powered by AdRating</div>
    </footer>
</div>

