<div class="main"  ng-controller="ApaController" ng-if="!isEn">
    <header>
        <h3>广告投放分析</h3>
        <aidcid render-fn="apa.render(aid,cid)"></aidcid>
    </header>
    <section class="content">
        <nav class="content-nav">
            <a ng-click="main.goto('item1')" class="active">广告投放总体效果指标</a>
            <a ng-click="main.goto('item2')">广告投放主要媒体网站和地区</a>
            <a ng-click="main.goto('item3')">主要网站广告投放效果指标</a>
        </nav>
        <div class="content-main">
            <div class="item" id="item1">
                <div class="item-title">广告投放总体效果指标</div>
                <div class="item-block item-block_detail">
                    <div class="block-title"><i class="fa fa-navicon"></i>广告详情</div>
                    <section>
                        <ul>
                            <li ng-repeat="i in apa.detail">
                                <span ng-bind="i.itemid"></span>
                                <span ng-bind="i.itemvalue"></span>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="item-block item-block_trend">
                    <div class="block-title"><i class="fa fa-bar-chart"></i>广告投放趋势</div>
                    <section id="hc-trend">
                    </section>
                </div>
                <div class="item-block item-block_effect">
                    <div class="block-title"><i class="fa fa-tv"></i>广告效果</div>
                    <section>
                        <div class="flex">
                            <div class="flex-item" ng-repeat="k in apa.effect[0]">
                                {{k.name}}
                                <br>
                                <span class="number">{{k.value}}</span>
                                <br>
                                <b class="per">比上时期<em>{{k.per}}</em></b>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex-item" ng-repeat="k in apa.effect[1]">
                                {{k.name}}
                                <br>
                                <span class="number">{{k.value}}</span>
                                <br>
                                <b class="per">比上时期<em>{{k.per}}</em></b>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="item-block item-block_plan">
                    <div class="block-title"><i class="fa fa-file-text-o"></i>广告排期</div>
                    <section id="hc-plan" ng-show="apa.progress_plan">
                    </section>
                </div>
                <div class="item-block item-block_target">
                    <div class="block-title"><i class="fa fa-bullseye"></i>广告目标</div>
                    <section>
                        <div class="target-item" ng-if="apa.progress_target_cpm">
                            <span class="t-item_name">{{apa.progress_target_cpm.name}}
                                    </span>
                            <span class="t-item_line">
                                        <div class="inner" style="width:{{apa.progress_target_cpm.current*100/apa.progress_target_cpm.target}}%">
                                            <span class="current">当前:{{apa.progress_target_cpm.current}}
                                            </div>
                                        </span>
                            </span>
                            <span class="t-item_end">    目标：{{apa.progress_target_cpm.target}}
                                    </span>
                        </div>
                        <div class="target-item" ng-if="apa.progress_target_ctr">
                            <span class="t-item_name">  {{apa.progress_target_ctr.name}}
                                    </span>
                            <div class="t-item_line">
                                <div class="inner" style="width:{{apa.progress_target_ctr.current*100/apa.progress_target_ctr.target}}%">
                                    <span class="current">当前:{{apa.progress_target_ctr.current}}
                                            </span>
                                </div>
                            </div>
                            <span class="t-item_end">目标：{{apa.progress_target_ctr.target}}</span>
                        </div>
                    </section>
                </div>
                <div class="item-block item-block_coast">
                    <div class="block-title"><i class="fa fa-cny"></i>广告花费</div>
                    <section id="hc-cost" ng-show="apa.progress_cost">
                    </section>
                </div>
            </div>
            <div class="item" id="item2">
                <div class="item-title">广告投放主要媒体网站和地区</div>
                <div class="item-block item-block_mrank">
                    <div class="block-title"><i class="fa fa-youtube-play"></i>广告媒体排名TOP5</div>
                    <section class="flex">
                        <div class="mrank-item" ng-repeat="k in apa.topsite | orderBy:'-count'">
                            <div class="m-item-line">
                                <div class="inner" style="height:{{k.per}}">
                                    <span class="per">{{k.count}}</span>
                                </div>
                            </div>
                            <div class="m-item-website">{{k.name}}</div>
                        </div>
                    </section>
                </div>
                <div class="item-block item-block_arank">
                    <div class="block-title"><i class="fa fa-area-chart"></i>广告地区排名TOP5</div>
                    <section class="flex">
                        <div class="arank-item" ng-repeat="k in apa.topregion | orderBy:'-count'">
                            <div class="a-item-line">
                                <div class="inner" style="height:{{k.per}}">
                                    <span class="per">{{k.count}}</span>
                                </div>
                            </div>
                            <div class="a-item-website">{{k.name}}</div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="item" id="item3">
                <div class="item-title">主要网站广告投放效果指标</div>
                <div class="item-table">
                    <table class="">
                        <thead>
                            <tr>
                                <th rowspan="2">网站</th>
                                <th rowspan="2">广告位</th>
                                <th colspan="2">广告曝光</th>
                                <th colspan="2">广告点击</th>
                                <th>点击率</th>
                                <th colspan="2">目标达成率</th>
                                <th colspan="4">KPI</th>
                            </tr>
                            <tr>
                                <th>PV</th>
                                <th class="br">UV</th>
                                <th>Click</th>
                                <th class="br">UC</th>
                                <th class="br">(PV)</th>
                                <th>PV %</th>
                                <th class="br">Click %</th>
                                <th>CPV</th>
                                <th>CPM</th>
                                <th>CPC</th>
                                <th>CPA</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(siteName,rows) in apa.siteeffect">
                            <!-- s -->
                            <tr ng-repeat="r in rows" ng-class="{total:$last}">
                                <td ng-if="$first" class="br" rowspan="{{rows.length-1}}"> {{r.siteName}}
                                </td>
                                <td ng-if="$last">{{r.siteName}}</td>
                                <td class="br">{{r.adLocation}}</td>
                                <td>{{r.pv}}</td>
                                <td class="br">{{r.uv}}</td>
                                <td>{{r.click}}</td>
                                <td class="br">{{r.uc}}</td>
                                <td class="br">{{r.pvp1}}</td>
                                <td>{{r.pvp2}}</td>
                                <td class="br">{{r.clickp}}</td>
                                <td ng-if="$first" rowspan="{{rows.length-1}}">{{r.cpv}}</td>
                                <td ng-if="$first" rowspan="{{rows.length-1}}">{{r.cpm}}</td>
                                <td ng-if="$first" rowspan="{{rows.length-1}}">{{r.cpc}}</td>
                                <td ng-if="$first" rowspan="{{rows.length-1}}">{{r.cpa}}</td>
                                <td ng-if="$last">{{r.cpv}}</td>
                                <td ng-if="$last">{{r.cpm}}</td>
                                <td ng-if="$last">{{r.cpc}}</td>
                                <td ng-if="$last">{{r.cpa}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="fl">如果您在使用产品中有任何问题，请联系我们：<a href="mailto:support@ad-rating.com">support@ad-rating.com</a></div>
        <div class="fr">&copy; 2016 Powered by AdRating</div>
    </footer>
</div>
<!-- en -->
<div class="main"  ng-controller="ApaController"  ng-if="isEn">
    <header>
        <h3>Campaign Summary</h3>
        <aidcid render-fn="apa.render(aid,cid)"></aidcid>
    </header>
    <section class="content">
        <nav class="content-nav">
            <a ng-click="main.goto('item1')" class="active"> Overall effect KPI for advertising</a>
            <a ng-click="main.goto('item2')">Main Site & Region For Advertising</a>
            <a ng-click="main.goto('item3')"> Main Site Advertising Effect KPI</a>
        </nav>
        <div class="content-main">
            <div class="item" id="item1">
                <div class="item-title">Overall effect KPI for advertising</div>
                <div class="item-block item-block_detail">
                    <div class="block-title"><i class="fa fa-navicon"></i>Campaign Details</div>
                    <section>
                        <ul>
                            <li ng-repeat="i in apa.detail">
                                <span ng-bind="i.itemid"></span>
                                <span ng-bind="i.itemvalue"></span>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="item-block item-block_trend">
                    <div class="block-title"><i class="fa fa-bar-chart"></i>Trend</div>
                    <section id="hc-trend">
                    </section>
                </div>
                <div class="item-block item-block_effect">
                    <div class="block-title"><i class="fa fa-tv"></i>Performance(vs. previous period)</div>
                    <section>
                        <div class="flex">
                            <div class="flex-item" ng-repeat="k in apa.effect[0]">
                                {{k.name}}
                                <br>
                                <span class="number">{{k.value}}</span>
                                <br>
                                <b class="per"><em>{{k.per}}</em></b>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex-item" ng-repeat="k in apa.effect[1]">
                                {{k.name}}
                                <br>
                                <span class="number">{{k.value}}</span>
                                <br>
                                <b class="per"><em>{{k.per}}</em></b>
                            </div>
                        </div>  
                    </section>
                </div>
                <div class="item-block item-block_plan">
                    <div class="block-title"><i class="fa fa-file-text-o"></i>Pacing</div>
                    <section id="hc-plan" ng-show="apa.progress_plan">
                    </section>
                </div>
                <div class="item-block item-block_target">
                    <div class="block-title"><i class="fa fa-bullseye"></i>Goal</div>
                    <section>
                        <div class="target-item" ng-if="apa.progress_target_cpm">
                            <span class="t-item_name">{{apa.progress_target_cpm.name}}
                                    </span>
                            <span class="t-item_line">
                                        <div class="inner" style="width:{{apa.progress_target_cpm.current*100/apa.progress_target_cpm.target}}%">
                                            <span class="current">current:{{apa.progress_target_cpm.current}}
                                            </div>
                                        </span>
                            </span>
                            <span class="t-item_end">target : {{apa.progress_target_cpm.target}}
                                    </span>
                        </div>
                        <div class="target-item" ng-if="apa.progress_target_ctr">
                            <span class="t-item_name">  {{apa.progress_target_ctr.name}}
                                    </span>
                            <div class="t-item_line">
                                <div class="inner" style="width:{{apa.progress_target_ctr.current*100/apa.progress_target_ctr.target}}%">
                                    <span class="current">current:{{apa.progress_target_ctr.current}}
                                            </span>
                                </div>
                            </div>
                            <span class="t-item_end">target : {{apa.progress_target_ctr.target}}</span>
                        </div>
                    </section>
                </div>
                <div class="item-block item-block_coast">
                    <div class="block-title"><i class="fa fa-cny"></i>Cost</div>
                    <section id="hc-cost" ng-show="apa.progress_cost">
                    </section>
                </div>
            </div>
            <div class="item" id="item2">
                <div class="item-title">Main Site & Region For Advertising</div>
                <div class="item-block item-block_mrank">
                    <div class="block-title"><i class="fa fa-youtube-play"></i>Top 5 Publishers</div>
                    <section class="flex">
                        <div class="mrank-item" ng-repeat="k in apa.topsite | orderBy:'-count'">
                            <div class="m-item-line">
                                <div class="inner" style="height:{{k.per}}">
                                    <span class="per">{{k.count}}</span>
                                </div>
                            </div>
                            <div class="m-item-website">{{k.name}}</div>
                        </div>
                    </section>
                </div>
                <div class="item-block item-block_arank">
                    <div class="block-title"><i class="fa fa-area-chart"></i>Top 5 Regions</div>
                    <section class="flex">
                        <div class="arank-item" ng-repeat="k in apa.topregion | orderBy:'-count'">
                            <div class="a-item-line">
                                <div class="inner" style="height:{{k.per}}">
                                    <span class="per">{{k.count}}</span>
                                </div>
                            </div>
                            <div class="a-item-website">{{k.name}}</div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="item" id="item3">
                <div class="item-title">Main Site Advertising Effect KPI</div>
                <div class="item-table">
                    <table class="">
                        <thead>
                            <tr>
                                <th rowspan="2">Website</th>
                                <th rowspan="2">placement</th>
                                <th colspan="2">Impression</th>
                                <th colspan="2">Click</th>
                                <th>CTR</th>
                                <th colspan="2">Goal RC</th>
                                <th colspan="4">KPI</th>
                            </tr>
                            <tr>
                                <th>PV</th>
                                <th class="br">UV</th>
                                <th>Click</th>
                                <th class="br">UC</th>
                                <th class="br">(PV)</th>
                                <th>PV %</th>
                                <th class="br">Click %</th>
                                <th>CPV</th>
                                <th>CPM</th>
                                <th>CPC</th>
                                <th>CPA</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(siteName,rows) in apa.siteeffect">
                            <!-- s -->
                            <tr ng-repeat="r in rows" ng-class="{total:$last}">
                                <td ng-if="$first" class="br" rowspan="{{rows.length-1}}"> {{r.siteName}}
                                </td>
                                <td ng-if="$last">{{r.siteName}}</td>
                                <td class="br">{{r.adLocation}}</td>
                                <td>{{r.pv}}</td>
                                <td class="br">{{r.uv}}</td>
                                <td>{{r.click}}</td>
                                <td class="br">{{r.uc}}</td>
                                <td class="br">{{r.pvp1}}</td>
                                <td>{{r.pvp2}}</td>
                                <td class="br">{{r.clickp}}</td>
                                <td ng-if="$first" rowspan="{{rows.length-1}}">{{r.cpv}}</td>
                                <td ng-if="$first" rowspan="{{rows.length-1}}">{{r.cpm}}</td>
                                <td ng-if="$first" rowspan="{{rows.length-1}}">{{r.cpc}}</td>
                                <td ng-if="$first" rowspan="{{rows.length-1}}">{{r.cpa}}</td>
                                <td ng-if="$last">{{r.cpv}}</td>
                                <td ng-if="$last">{{r.cpm}}</td>
                                <td ng-if="$last">{{r.cpc}}</td>
                                <td ng-if="$last">{{r.cpa}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="fl">if you have any problem in using the product, please contact us.<a href="mailto:support@ad-rating.com">support@ad-rating.com</a></div>
        <div class="fr">&copy; 2016 Powered by AdRating</div>
    </footer>
</div>

