<div class="lay" ng-if="!isEn">
    <nav class="secnav">
        <h2>投放监测</h2>
        <ul>
            <li class="active" ng-if="main.isAdmin || main.userInfo.p1apa=='1'">
                <a ui-sref-active="active" ui-sref="home.kpi.apa" ><i class="fa fa-clone"></i>广告投放分析</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1aaa=='1'">
                <a ui-sref-active="active" ui-sref="home.kpi.aaa"><i class="fa fa-object-group"></i>广告受众分析</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1rca=='1'">
                <a ui-sref-active="active" ui-sref="home.kpi.rca"><i class="fa fa-file-image-o"></i>达到页转化分析</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1aoa=='1'">
                <a ui-sref-active="active" ui-sref="home.kpi.aoa"><i class="fa fa-industry"></i>广告优化分析</a>
            </li>
        </ul>
    </nav>
    <div ui-view></div>
</div>
<!-- en  -->
<div class="lay en" ng-if="isEn">
    <nav class="secnav">
        <h2>Ad Monitoring KPI Charts</h2>
        <ul>
            <li class="active" ng-if="main.isAdmin || main.userInfo.p1apa=='1'">
                <a ui-sref-active="active" ui-sref="home.kpi.apa" ><i class="fa fa-clone"></i>Ad Summary Analysis</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1aaa=='1'">
                <a ui-sref-active="active" ui-sref="home.kpi.aaa"><i class="fa fa-object-group"></i>Ad Audience Analysis</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1rca=='1'">
                <a ui-sref-active="active" ui-sref="home.kpi.rca"><i class="fa fa-file-image-o"></i>Reach Convert Analysis</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1aoa=='1'">
                <a ui-sref-active="active" ui-sref="home.kpi.aoa"><i class="fa fa-industry"></i>Ad Optimize Analysis</a>
            </li>
        </ul>
    </nav>
    <div ui-view></div>
</div>

