<div class="main" ng-controller="RcaController"  ng-if="!isEn">
    <header>
        <h3>达到页转化分析</h3>
        <aidcid render-fn="rca.render(aid,cid)"></aidcid>  
    </header>
    <section class="content">
        <div class="content-main">
            <div class="item">
                <div class="item-table">
                    <table class="">
                        <thead>
                            <tr>
                                <th rowspan="2">网站</th>
                                <th rowspan="2">广告位</th>
                                <th colspan="7">到达页</th>
                            </tr>
                            <tr>
                                <th>跳出率</th>
                                <th>到达率</th>
                                <th>独立用户数</th>
                                <th>注册数量(用户)</th>
                                <th>价格</th>
                                <th>平均价格</th>
                                <th>注册贡献度</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="(siteName,rows) in rca.tableData">
                            <tr ng-repeat="r in rows" ng-class="{total:$last}">
                                <td ng-if="$first" class="br" rowspan="{{rows.length-1}}"> {{r.siteName}}
                                </td>
                                <td ng-if="$last">{{r.siteName}}</td>
                                <td ng-class="{br:!$last}">{{r.adLocation}}</td>
                                <td>{{r.bounceRate}}</td>
                                <td>{{r.reach}}</td>
                                <td>{{r.uv}}</td>
                                <td>{{r.ru}}</td>
                                <td>{{r.price}}</td>
                                <td>{{r.priceAvg}}</td>
                                <td>{{r.regCtb}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="fl">如果您在使用产品中有任何问题，请联系我们：<a href="mailto:support@ad-rating.com">support@ad-rating.com</a></div>
        <div class="fr">&copy; 2016 Powered by AdRating</div>
    </footer>
</div>
<div class="main" ng-controller="RcaController"  ng-if="isEn">
    <header>
        <h3>Reach Convert Analysis</h3>
        <aidcid render-fn="rca.render(aid,cid)"></aidcid>  
    </header>
    <section class="content">
        <div class="content-main">
            <div class="item">
                <div class="item-table">
                    <table class="">
                        <thead>
                            <tr>
                                <th rowspan="2">Website</th>
                                <th rowspan="2">Placement</th>
                                <th colspan="7">LandingPage</th>
                            </tr>
                            <tr>
                                <th>bounceRate</th><!-- 跳出率 -->
                                <th>reach</th><!-- 到达率 -->
                                <th>uv</th><!-- 独立用户数 -->
                                <th>ru</th><!-- 注册数量(用户) -->
                                <th>price</th>
                                <th>priceAvg</th>
                                <th>regCtb</th><!-- 注册贡献度 -->
                            </tr>
                        </thead>
                       <!--  <tbody ng-if="rca.tableData.length==0">
                            <tr>
                                <td class="text-center" colspan="10">no data</td>
                            </tr>
                        </tbody> -->
                        <tbody ng-repeat="(siteName,rows) in rca.tableData">
                            <tr ng-repeat="r in rows" ng-class="{total:$last}">
                                <td ng-if="$first" class="br" rowspan="{{rows.length-1}}"> {{r.siteName}}
                                </td>
                                <td ng-if="$last">{{r.siteName}}</td>
                                <td ng-class="{br:!$last}">{{r.adLocation}}</td>
                                <td>{{r.bounceRate}}</td>
                                <td>{{r.reach}}</td>
                                <td>{{r.uv}}</td>
                                <td>{{r.ru}}</td>
                                <td>{{r.price}}</td>
                                <td>{{r.priceAvg}}</td>
                                <td>{{r.regCtb}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="fl">if you have any problem in using the product, please contact us.<a href="mailto:support@ad-rating.com">support@ad-rating.com</a></div>
        <div class="fr">&copy; 2016 Powered by AdRating</div>
    </footer>
</div>
