<div class="lay" ng-if="!isEn">
    <nav class="secnav">
        <h2>新建报表</h2>
        <ul>
            <li ng-if="main.isAdmin || main.userInfo.p1tp=='1'">
                <a ui-sref-active="active" ui-sref="home.grp.tp"><i class="fa fa-clone"></i>广告曝光受众分析</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1ap=='1'">
                <a ui-sref-active="active" ui-sref="home.grp.ap"><i class="fa fa-object-group"></i>受众属性报表</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1rc=='1'">
                <a ui-sref-active="active" ui-sref="home.grp.rc"><i class="fa fa-file-image-o"></i>到达率曲线</a>
            </li>
        </ul>
        <h2>历史报表</h2>
        <ul>
            <li ng-if="main.isAdmin || main.userInfo.p1tp=='1'">
                <a ui-sref-active="active" 
                ui-sref="home.grp.reportlist({listtype:'tp'})"><i class="fa fa-clone"></i>广告曝光受众分析</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1ap=='1'">
                <a ui-sref-active="active" 
                ui-sref="home.grp.reportlist({listtype:'ap'})"><i class="fa fa-object-group"></i>受众属性报表</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1rc=='1'">
                <a ui-sref-active="active" 
                ui-sref="home.grp.reportlist({listtype:'rc'})"><i class="fa fa-file-image-o"></i>到达率曲线</a>
            </li>
        </ul>
    </nav>
    <div ui-view></div>
    
</div>
<!-- en -->
<div class="lay" ng-if="isEn">
    <nav class="secnav">
        <h2>New Reports</h2>
        <ul>
            <li ng-if="main.isAdmin || main.userInfo.p1tp=='1'">
                <a ui-sref-active="active" ui-sref="home.grp.tp"><i class="fa fa-clone"></i>Target Performance Report</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1ap=='1'">
                <a ui-sref-active="active" ui-sref="home.grp.ap"><i class="fa fa-object-group"></i>Audience Profile Report</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1rc=='1'">
                <a ui-sref-active="active" ui-sref="home.grp.rc"><i class="fa fa-file-image-o"></i>Reach Curve Report</a>
            </li>
        </ul>
        <h2>History Reports</h2>
        <ul>
            <li ng-if="main.isAdmin || main.userInfo.p1tp=='1'">
                <a ui-sref-active="active" 
                ui-sref="home.grp.reportlist({listtype:'tp'})"><i class="fa fa-clone"></i>Target Performance Report</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1ap=='1'">
                <a ui-sref-active="active" 
                ui-sref="home.grp.reportlist({listtype:'ap'})"><i class="fa fa-object-group"></i>Audience Profile Report</a>
            </li>
            <li ng-if="main.isAdmin || main.userInfo.p1rc=='1'">
                <a ui-sref-active="active" 
                ui-sref="home.grp.reportlist({listtype:'rc'})"><i class="fa fa-file-image-o"></i>Reach Curve Report</a>
            </li>
        </ul>
    </nav>
    <div ui-view></div>
    
</div>



