<div class="main grp-main" ng-if="!isEn">
    <h2>行业对标分析</h2>
    <form name="rcf">
        <p class="setting"><i class="fa fa-cog"></i>报表设置</p>
        <div class="form-list">
            <div class="item" ng-repeat="n in rc.activeFiltersNameArray track by $index" ng-init="rc.filterInit(rc.filtersCfgMap[n]);" ng-switch="rc.filtersCfgMap[n].type">
                <div ng-switch-when="select">
                    <div class="l">{{rc.filtersCfgMap[n].label}}</div>
                    <div class="input">
                        <ui-select ng-model="rc[n]" theme='bootstrap' on-select="rc.filterChange(rc.filtersCfgMap[n])" on-remove="rc.filterChange(rc.filtersCfgMap[n])">
                            <ui-select-match>
                                <span placeholder="Select person..." ng-bind="$select.selected.text"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (rc[n+'list'] | filter: $select.search) track by $index">
                                <span ng-bind="item.text"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="isRequire">
                        <!-- <span ng-if="rc.filtersCfgMap[n].required">必填</span> -->
                        <i class="fa fa-trash" ng-click="rc.delFilter(n)"></i>
                    </div>
                </div>
                <div ng-switch-when='multipleselect'>
                    <div class="l">{{rc.filtersCfgMap[n].label}}</div>
                    <div class="input">
                        <ui-select multiple ng-model="rc[n]" theme="bootstrap" on-select="rc.filterChange(rc.filtersCfgMap[n])" on-remove="rc.removeItem($item,$model,n)">
                            <ui-select-match>{{$item.text}}</ui-select-match>
                            <ui-select-choices repeat="item in rc[n+'list'] | propsFilter: {id: $select.search, text: $select.search}">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="isRequire">
                        <!-- <span ng-if="rc.filtersCfgMap[n].required">必填</span> -->
                        <i class="fa fa-trash" ng-click="rc.delFilter(n)"></i>
                    </div>
                </div>
                <div ng-switch-when="doubleselect" class="doubleselect">
                    <div class="l">{{rc.filtersCfgMap[n].label}}</div>
                    <select class="form-control" ng-model="rc[n+'1']">
                        <option ng-repeat="k in rc[n+'list'][0]" value="{{k}}" ng-selected="$first">
                            {{k}}
                        </option>
                    </select>
                    --
                    <select class="form-control" ng-model="rc[n+'2']">
                        <option ng-repeat="k in rc[n+'list'][1]" value="{{k}}">
                            {{k}}
                        </option>
                    </select>
                    <div class="isRequire">
                        <!-- <span ng-if="rc.filtersCfgMap[n].required">必填</span> -->
                        <i class="fa fa-trash" ng-click="rc.delFilter(n)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item rest-btn rest-btn-filter" ng-init="restFilterUl=false" ng-mouseenter="restFilterUl=true" ng-mouseleave="restFilterUl=false">
            + 增加筛选条件
            <ul ng-show="restFilterUl">
                <li ng-repeat="n in rc.restFiltersNameArray" ng-click="rc.addFilter(n,$index);restFilterUl=false">
                    {{rc.filtersCfgMap[n].label}}
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="l">报告周期</div>
            <div class="input">
                <div class="row">
                    <div class="col-md-6">
                        <select ng-model="rc.dateRange" ng-options="option.text for option in rc.range track by option.id" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="sendTo">
            <span>发送到邮箱：</span>
            <input type="email" class="form-control" required ng-model="rc.mailto">
        </div>
        <div class="item item-btns">
            <button type="button" ng-click="rc.runReport()" ng-disabled="rc.IsRunning" class="btn btn-primary">开始运行</button>
            <button type="button" ng-click="rc.saveReport()" ng-disabled="rc.IsSaving" class="btn btn-success">保存</button>
            <button type="button" ng-click="rc.test()" class="btn btn-danger">取消</button>
        </div>
        <div class="item" style="text-align:center">
            <span ng-bind="rc.actionInfo"></span>
        </div>
    </form>
    <br>
</div>
<!-- en -->
<div class="main grp-main" ng-if="isEn">
    <h2>Reach Curve Report</h2>
    <form name="rcf">
        <p class="setting"><i class="fa fa-cog"></i>Report setup</p>
        <div class="form-list">
            <div class="item" ng-repeat="n in rc.activeFiltersNameArray track by $index" ng-init="rc.filterInit(rc.filtersCfgMap[n]);" ng-switch="rc.filtersCfgMap[n].type">
                <div ng-switch-when="select">
                    <div class="l">{{rc.filtersCfgMap[n].name}}</div>
                    <div class="input">
                        <ui-select ng-model="rc[n]" theme='bootstrap' on-select="rc.filterChange(rc.filtersCfgMap[n])" on-remove="rc.filterChange(rc.filtersCfgMap[n])">
                            <ui-select-match>
                                <span placeholder="Select person..." ng-bind="$select.selected.text"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (rc[n+'list'] | filter: $select.search) track by $index">
                                <span ng-bind="item.text"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="isRequire">
                        <!-- <span ng-if="rc.filtersCfgMap[n].required">必填</span> -->
                        <i class="fa fa-trash" ng-click="rc.delFilter(n)"></i>
                    </div>
                </div>
                <div ng-switch-when='multipleselect'>
                    <div class="l">{{rc.filtersCfgMap[n].name}}</div>
                    <div class="input">
                        <ui-select multiple ng-model="rc[n]" theme="bootstrap" on-select="rc.filterChange(rc.filtersCfgMap[n])" on-remove="rc.removeItem($item,$model,n)">
                            <ui-select-match>{{$item.text}}</ui-select-match>
                            <ui-select-choices repeat="item in rc[n+'list'] | propsFilter: {id: $select.search, text: $select.search}">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="isRequire">
                        <!-- <span ng-if="rc.filtersCfgMap[n].required">必填</span> -->
                        <i class="fa fa-trash" ng-click="rc.delFilter(n)"></i>
                    </div>
                </div>
                <div ng-switch-when="doubleselect" class="doubleselect">
                    <div class="l">{{rc.filtersCfgMap[n].name}}</div>
                    <select class="form-control" ng-model="rc[n+'1']">
                        <option ng-repeat="k in rc[n+'list'][0]" value="{{k}}" ng-selected="$first">
                            {{k}}
                        </option>
                    </select>
                    --
                    <select class="form-control" ng-model="rc[n+'2']">
                        <option ng-repeat="k in rc[n+'list'][1]" value="{{k}}">
                            {{k}}
                        </option>
                    </select>
                    <div class="isRequire">
                        <!-- <span ng-if="rc.filtersCfgMap[n].required">必填</span> -->
                        <i class="fa fa-trash" ng-click="rc.delFilter(n)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item rest-btn rest-btn-filter" ng-init="restFilterUl=false" ng-mouseenter="restFilterUl=true" ng-mouseleave="restFilterUl=false">
            + Add Filter
            <ul ng-show="restFilterUl">
                <li ng-repeat="n in rc.restFiltersNameArray" ng-click="rc.addFilter(n,$index);restFilterUl=false">
                    {{rc.filtersCfgMap[n].name}}
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="l">Date range </div>
            <div class="input">
                <div class="row">
                    <div class="col-md-6">
                        <select ng-model="rc.dateRange" ng-options="option.text for option in rc.range track by option.id" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="sendTo">
            <span>Email to : </span>
            <input type="email" class="form-control" required ng-model="rc.mailto">
        </div>
        <div class="item item-btns">
            <button type="button" ng-click="rc.runReport()" ng-disabled="rc.IsRunning" class="btn btn-primary">Run now</button>
            <button type="button" ng-click="rc.saveReport()" ng-disabled="rc.IsSaving" class="btn btn-success">Save</button>
            <button type="button" ng-click="rc.test()" class="btn btn-danger">Cancel</button>
        </div>
        <div class="item" style="text-align:center">
            <span ng-bind="rc.actionInfo"></span>
        </div>
    </form>
    <br>
</div>
