<div class="main grp-main rlist" ng-if="!isEn">
    <h2>{{title}}</h2>
    <div class="rls-btns">
        <button type="button" ng-click="run()" ng-disabled="!activeRow" class="btn btn-primary">
            开始运行
        </button>
        <button type="button" ng-click="edit()" ng-disabled="!activeRow" class="btn btn-success">
            编辑
        </button>
        <button type="button" ng-click="del()" ng-disabled="!activeRow" class="btn btn-danger">
            删除
        </button>
        <span class="label label-danger" ng-show="!!info">{{info}}..</span>
    </div>
    <table st-table="displayed" st-safe-src="rowCollection" class="table table-hover">
        <thead>
            <tr>
                <th>
                    <select ng-init="pageNumber=5"  ng-model="pageNumber" ng-options="k for k in [5,10,50,100]"  class="form-control">
                    </select>
                </th>
                <th></th>
                <th></th>
                <th>
                    <input st-search placeholder="search" class="input-sm form-control" type="search" />
                </th>
            </tr>
            <tr>
                <th st-sort="id" width="8%">报表ID</th>
                <th st-sort="name">报表名称</th>
                <th st-sort="summary">自动运行说明</th>
                <th st-sort="status">报表状态</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayed" ng-click="choice(row,$index)" ng-class="{active:activeRow==row}">
                <td>&nbsp;&nbsp;{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.summary}}</td>
                <td>{{row.status}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination st-items-by-page="pageNumber" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- en -->
<div class="main grp-main rlist" ng-if="isEn">
    <h2>{{title}}</h2>
    <div class="rls-btns">
        <button type="button" ng-click="run()" ng-disabled="!activeRow" class="btn btn-primary">
            Run now
        </button>
        <button type="button" ng-click="edit()" ng-disabled="!activeRow" class="btn btn-success">
            Edit
        </button>
        <button type="button" ng-click="del()" ng-disabled="!activeRow" class="btn btn-danger">
            Delete
        </button>
        <span class="label label-danger" ng-show="!!info">{{info}}..</span>
    </div>
    <table st-table="displayed" st-safe-src="rowCollection" class="table table-hover">
        <thead>
            <tr>
                <th>
                    <select ng-init="pageNumber=5"  ng-model="pageNumber" ng-options="k for k in [5,10,50,100]"  class="form-control">
                    </select>
                </th>
                <th></th>
                <th></th>
                <th>
                    <input st-search placeholder="search" class="input-sm form-control" type="search" />
                </th>
            </tr>
            <tr>
                <th st-sort="id" width="8%">ID</th>
                <th st-sort="name">Name</th>
                <th st-sort="summary">Summary</th>
                <th st-sort="status">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayed" ng-click="choice(row,$index)" ng-class="{active:activeRow==row}">
                <td>&nbsp;&nbsp;{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.summary}}</td>
                <td>{{row.status}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-center">
                    <div st-pagination st-items-by-page="pageNumber" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
