<div class="main grp-main" ng-if="!isEn">
    <h2>广告曝光受众分析</h2>
    <form name="tpf">
        <p class="setting"><i class="fa fa-cog"></i>报表设置</p>
        <div class="form-list">
            <div class="item" ng-repeat="n in tp.activeFiltersNameArray track by $index" ng-init="tp.filterInit(tp.filtersCfgMap[n]);" ng-switch="tp.filtersCfgMap[n].type">
                <div ng-switch-when="select">
                    <div class="l">{{tp.filtersCfgMap[n].label}}</div>
                    <div class="input">
                        <ui-select ng-model="tp[n]" theme='bootstrap' on-select="tp.filterChange(tp.filtersCfgMap[n])" on-remove="tp.filterChange(tp.filtersCfgMap[n])">
                            <ui-select-match>
                                <span  ng-bind="$select.selected.text"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (tp[n+'list'] | filter: $select.search) track by $index">
                                <span ng-bind="item.text"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="isRequire">
                        <span ng-if="tp.filtersCfgMap[n].required">必填</span>
                        <i ng-if="!tp.filtersCfgMap[n].required" class="fa fa-trash" ng-click="tp.delFilter(n)"></i>
                    </div>
                </div>
                <div ng-switch-when='multipleselect'>
                    <div class="l">{{tp.filtersCfgMap[n].label}}</div>
                    <div class="input">
                        <ui-select multiple ng-model="tp[n]" theme="bootstrap" on-select="tp.filterChange(tp.filtersCfgMap[n])" on-remove="tp.removeItem($item,$model,n)">
                            <ui-select-match>{{$item.text}}</ui-select-match>
                            <ui-select-choices repeat="item in tp[n+'list'] | propsFilter: {id: $select.search, text: $select.search}">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="isRequire">
                        <span ng-if="tp.filtersCfgMap[n].required">必填</span>
                        <i ng-if="!tp.filtersCfgMap[n].required" class="fa fa-trash" ng-click="tp.delFilter(n)"></i>
                    </div>
                </div>
                <div ng-switch-when="doubleselect" class="doubleselect">
                    <div class="l">{{tp.filtersCfgMap[n].label}}</div>
                    <select class="form-control" ng-model="tp[n+'1']">
                        <option ng-repeat="k in tp[n+'list'][0]" value="{{k}}" ng-selected="$first">
                            {{k}}
                        </option>
                    </select>
                    --
                    <select class="form-control" ng-model="tp[n+'2']">
                        <option ng-repeat="k in tp[n+'list'][1]" value="{{k}}">
                            {{k}}
                        </option>
                    </select>
                    <div class="isRequire">
                        <span ng-if="tp.filtersCfgMap[n].required">必填</span>
                        <i ng-if="!tp.filtersCfgMap[n].required" class="fa fa-trash" ng-click="tp.delFilter(n)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item rest-btn rest-btn-filter" ng-init="restFilterUl=false" ng-mouseenter="restFilterUl=true" ng-mouseleave="restFilterUl=false">
            + 增加筛选条件
            <ul ng-show="restFilterUl">
                <li ng-repeat="n in tp.restFiltersNameArray" ng-click="tp.addFilter(n,$index);restFilterUl=false">
                    {{tp.filtersCfgMap[n].label}}
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="l">报告周期</div>
            <div class="input">
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="tp.dateRangeStart" is-open="dateRangeStartIsOpened" ng-required="true" close-text="Close" ng-disabled='true' />
                            <span class="input-group-btn">
                                <button disabled type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model-options='{allowInvalid:false}' ng-model="tp.dateRangeEnd" is-open="dateRangeEndIsOpened" datepicker-options="{showWeeks:false}" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button 
                                type="button" 
                                class="btn btn-default" 
                                ng-click="dateRangeEndIsOpened=!dateRangeEndIsOpened">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="l vat">报告维度</div>
            <div class="input dimension-list">
                <div ng-repeat="n in tp.activeDimensionsNameArray track by $index">
                    <span class="label label-primary">
                        {{tp.dimensionsCfgMap[n].text}}
                        </span>
                    <select class="form-control" ng-if="tp.dimensionsCfgMap[n].isHaveData" ng-options="option.text for option in tp.dimensionsCfgMap[n].data track by option.id" ng-model="tp['d'+n]"></select>
                    <i class="fa fa-trash" ng-click="tp.delDimension(n)"></i>
                </div>
            </div>
        </div>
        <div class="item rest-btn rest-btn-dimension" ng-init="restDimensionUl=false" ng-mouseenter="restDimensionUl=true" ng-mouseleave="restDimensionUl=false">
            + 更多维度
            <ul ng-show="restDimensionUl">
                <li ng-repeat="n in tp.restDimensionsNameArray" ng-click="tp.addDimension(n);restdimensionUl=false">
                    {{tp.dimensionsCfgMap[n].text}}
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="l">指标</div>
            <input type="radio"  ng-model="tp.metricsType" value="External" id="wai"><label for="wai">外部指标</label>
            <input ng-if="main.userInfo.p1internal=='1'" type="radio" ng-model="tp.metricsType" value="Internal" id="nei"><label ng-if="main.userInfo.p1internal=='1'" for="nei">内部指标</label>
        </div>
        <div class="sendTo">
            <span>发送到邮箱：</span>
            <input type="email" required class="form-control" required ng-model="tp.mailto">
        </div>
        <p class="setting"><i class="fa fa-cog"></i>报告自动运行</p>
        <div class="autoRun">
            <div class="item">
                <div class="l">激活自动运行</div>
                <div class="row">
                    <input type="checkbox" ng-model="tp.active">
                </div>
            </div>
            <div class="item">
                <div class="l">运行周期</div>
                <div class="row">
                    <select ng-model="tp.period" class="form-control">
                        <option value="Daily">日报</option>
                        <option value="Weekly">周报</option>
                        <option value="Monthly">月报</option>
                    </select>
                </div>
            </div>
            <div class="item">
                <div class="l">自动运行开始日期 </div>
                <div class="row">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="tp.jobStart" is-open="jobStart" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                                <button ng-click="jobStart=true" type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="l">自动运行结束日期 </div>
                <div class="row">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="tp.jobEnd" is-open="jobEnd" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                                <button ng-click="jobEnd=true" type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="l">自动运行说明</div>
                <div class="row" style="width:500px;">
                    <input type="text" class="form-control" disabled ng-model="tp.summary">
                </div>
            </div>
        </div>
        <div class="item item-btns">
            <button type="button" ng-click="tp.runReport()" ng-disabled="tp.IsRunning" class="btn btn-primary">开始运行</button>
            <button type="button" ng-click="tp.saveReport()" ng-disabled="tp.IsSaving" class="btn btn-success">保存</button>
            <button type="button" ng-click="tp.test()" class="btn btn-danger">取消</button>
        </div>
        <div class="item"  style="text-align:center">
            <span ng-bind="tp.actionInfo"></span>
        </div>
    </form>
    <br>
</div>
<!-- en -->
<div class="main grp-main" ng-if="isEn">
    <h2>Target Performance Report</h2>
    <form name="tpf">
        <p class="setting"><i class="fa fa-cog"></i>Report setup</p>
        <div class="form-list">
            <div class="item" ng-repeat="n in tp.activeFiltersNameArray track by $index" ng-init="tp.filterInit(tp.filtersCfgMap[n]);" ng-switch="tp.filtersCfgMap[n].type">
                <div ng-switch-when="select">
                    <div class="l">{{tp.filtersCfgMap[n].name}}</div>
                    <div class="input">
                        <ui-select ng-model="tp[n]" theme='bootstrap' on-select="tp.filterChange(tp.filtersCfgMap[n])" on-remove="tp.filterChange(tp.filtersCfgMap[n])">
                            <ui-select-match>
                                <span  ng-bind="$select.selected.text"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in (tp[n+'list'] | filter: $select.search) track by $index">
                                <span ng-bind="item.text"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="isRequire">
                        <span ng-if="tp.filtersCfgMap[n].required">Require</span>
                        <i ng-if="!tp.filtersCfgMap[n].required" class="fa fa-trash" ng-click="tp.delFilter(n)"></i>
                    </div>
                </div>
                <div ng-switch-when='multipleselect'>
                    <div class="l">{{tp.filtersCfgMap[n].name}}</div>
                    <div class="input">
                        <ui-select multiple ng-model="tp[n]" theme="bootstrap" on-select="tp.filterChange(tp.filtersCfgMap[n])" on-remove="tp.removeItem($item,$model,n)">
                            <ui-select-match>{{$item.text}}</ui-select-match>
                            <ui-select-choices repeat="item in tp[n+'list'] | propsFilter: {id: $select.search, text: $select.search}">
                                <div ng-bind-html="item.text | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="isRequire">
                        <span ng-if="tp.filtersCfgMap[n].required">Require</span>
                        <i ng-if="!tp.filtersCfgMap[n].required" class="fa fa-trash" ng-click="tp.delFilter(n)"></i>
                    </div>
                </div>
                <div ng-switch-when="doubleselect" class="doubleselect">
                    <div class="l">{{tp.filtersCfgMap[n].name}}</div>
                    <select class="form-control" ng-model="tp[n+'1']">
                        <option ng-repeat="k in tp[n+'list'][0]" value="{{k}}" ng-selected="$first">
                            {{k}}
                        </option>
                    </select>
                    --
                    <select class="form-control" ng-model="tp[n+'2']">
                        <option ng-repeat="k in tp[n+'list'][1]" value="{{k}}">
                            {{k}}
                        </option>
                    </select>
                    <div class="isRequire">
                        <span ng-if="tp.filtersCfgMap[n].required">Require</span>
                        <i ng-if="!tp.filtersCfgMap[n].required" class="fa fa-trash" ng-click="tp.delFilter(n)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item rest-btn rest-btn-filter" ng-init="restFilterUl=false" ng-mouseenter="restFilterUl=true" ng-mouseleave="restFilterUl=false">
            + Add Filter
            <ul ng-show="restFilterUl">
                <li ng-repeat="n in tp.restFiltersNameArray" ng-click="tp.addFilter(n,$index);restFilterUl=false">
                    {{tp.filtersCfgMap[n].name}}
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="l">Date range</div>
            <div class="input">
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="tp.dateRangeStart" is-open="dateRangeStartIsOpened" ng-required="true" close-text="Close" ng-disabled='true' />
                            <span class="input-group-btn">
                                <button disabled type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model-options='{allowInvalid:false}' ng-model="tp.dateRangeEnd" is-open="dateRangeEndIsOpened" datepicker-options="{showWeeks:false}" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button 
                                type="button" 
                                class="btn btn-default" 
                                ng-click="dateRangeEndIsOpened=!dateRangeEndIsOpened">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="l vat">Dimensions</div>
            <div class="input dimension-list">
                <div ng-repeat="n in tp.activeDimensionsNameArray track by $index">
                    <span class="label label-primary">
                        {{tp.dimensionsCfgMap[n].name}}
                        </span>
                    <select class="form-control" ng-if="tp.dimensionsCfgMap[n].isHaveData" ng-options="option.text for option in tp.dimensionsCfgMap[n].data track by option.id" ng-model="tp['d'+n]"></select>
                    <i class="fa fa-trash" ng-click="tp.delDimension(n)"></i>
                </div>
            </div>
        </div>
        <div class="item rest-btn rest-btn-dimension" ng-init="restDimensionUl=false" ng-mouseenter="restDimensionUl=true" ng-mouseleave="restDimensionUl=false">
            + Add Dimension
            <ul ng-show="restDimensionUl">
                <li ng-repeat="n in tp.restDimensionsNameArray" ng-click="tp.addDimension(n);restdimensionUl=false">
                    {{tp.dimensionsCfgMap[n].name}}
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="l">Metrics</div>
            <input type="radio"  ng-model="tp.metricsType" value="External" id="wai"><label for="wai">External</label>
            <input ng-if="main.userInfo.p1internal=='1'" type="radio" ng-model="tp.metricsType" value="Internal" id="nei"><label ng-if="main.userInfo.p1internal=='1'" for="nei">Internal</label>
        </div>
        <div class="sendTo">
            <span>Email to  :</span>
            <input type="email" required class="form-control" required ng-model="tp.mailto">
        </div>
        <p class="setting"><i class="fa fa-cog"></i>Schedule</p>
        <div class="autoRun">
            <div class="item">
                <div class="l">Active</div>
                <div class="row">
                    <input type="checkbox" ng-model="tp.active">
                </div>
            </div>
            <div class="item">
                <div class="l">Repeats</div>
                <div class="row">
                    <select ng-model="tp.period" class="form-control">
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                </div>
            </div>
            <div class="item">
                <div class="l">Starts </div>
                <div class="row">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="tp.jobStart" is-open="jobStart" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                                <button ng-click="jobStart=true" type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="l">Expires </div>
                <div class="row">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="tp.jobEnd" is-open="jobEnd" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                                <button ng-click="jobEnd=true" type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="l">Summary</div>
                <div class="row" style="width:500px;">
                    <input type="text" class="form-control" disabled ng-model="tp.summary">
                </div>
            </div>
        </div>
        <div class="item item-btns">
            <button type="button" ng-click="tp.runReport()" ng-disabled="tp.IsRunning" class="btn btn-primary">Run Now</button>
            <button type="button" ng-click="tp.saveReport()" ng-disabled="tp.IsSaving" class="btn btn-success">Save</button>
            <button type="button" ng-click="tp.test()" class="btn btn-danger">Cancel</button>
        </div>
        <div class="item"  style="text-align:center">
            <span ng-bind="tp.actionInfo"></span>
        </div>
    </form>
    <br>
</div>

