<div class="lay"  ng-if="!isEn">
	<nav class="secnav">
        <h2>用户筛选分析</h2>
        <ul>
            <li class="active">
                <a ui-sref-active="active" ui-sref="home.ua.user" ><i class="fa fa-clone"></i>用户筛选</a>
            </li>
        </ul>
    </nav>
    <div ui-view>
		
	</div>
</div>

<div class="lay"  ng-if="isEn">
	<nav class="secnav">
        <h2>User analysis</h2>
        <ul>
            <li class="active">
                <a ui-sref-active="active" ui-sref="home.ua.user" ><i class="fa fa-clone"></i>User filter</a>
            </li>
        </ul>
    </nav>
    <div ui-view>
		
	</div>
</div>