.login {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    color: #000;
    background-color: #fff;
    padding: 80px 0 0;
    min-width: 1360px;
    #logo {
        height: 60px;
        padding-left: 20%;
        margin-bottom: 15px; 
        -webkit-user-select:none;   
    }
    &>header {
        padding-bottom: 10px;
    }
    &>section {
        position: relative;
        /*height: 300px;*/
        margin: auto;
        max-width: 1920px;
        .lbg {
            width: 100%;
        }
    }
    .form {
        position: absolute;
        top: 15%;
        right: 14%;
        width: 440/1920*100%;
        height: 70%;
        background-color: rgba(255, 255, 255, .6);
        padding: 20px;
        border-radius: 5px;
    }
    .item {
        margin-bottom: 10px;
        .forget {
            position: relative;
            left: -16px;
            height: 34px;
            padding: 6px 12px;
            font-size: 12px;
            line-height: 1.5;
            color: #555555;
            text-align: center;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            &:hover {
                color: red;
            }
        }
        .btn {
            background-color: #0096ff;
            box-shadow: none;
        }
    }
    .lang {
        margin: 15px 0;
        text-align: center;
        label:first-of-type {
            margin-right: 20px;
        }
        input {
            position: relative;
            top: -2px;
            vertical-align: middle;
        }
    }
    .mail {
        text-align: center;
        color: #666;
        a {
            color: #0096ff;
        }
    }
    footer {
        color: #666;
        line-height: 2;
        a {
            cursor: pointer;
        }
    }
}

.policy {
    color: #000;
    width: 600px;
    height: 80%;
    padding: 10px;
    margin: 50px auto;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.6;
    .underline {
        text-decoration: underline;
    }
    .b {
        font-weight: bold;
    }
    .i {
        font-style: italic;
    }
    p {}
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        line-height: 2;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 14px;
    }
    ul {
        margin-left: 30px;
        list-style: disc;
    }
    a {
        color: #0096ff;
    }
    .btn{
        color: #fff;
    }
}
