<div ng-controller="LoginController" class="login"  ng-init="policyShow=false">
    <header>
        <img src="assets/images/logo.png" alt="" id="logo">
    </header>
    <section>
        <img src="assets/images/bg2.jpg" alt="" class="lbg">
        <div class="form">
            <form name="loginForm" ng-submit="login.submit()">
                <div class="item">
                    <input ng-if="!isEn" type="text" ng-model="login.username" class="form-control" minlength="4" id="username" placeholder="用户名" required autofocus>
                     <input ng-if="isEn" type="text" ng-model="login.username" class="form-control" minlength="4" id="username" placeholder="username" required autofocus>
                </div>
                <div class="item row">
                    <div class="col-md-8">
                        <input ng-if="!isEn" type="password" ng-model="login.password" class="form-control" id="password" placeholder="登陆密码">
                        <input ng-if="isEn" type="password" ng-model="login.password" class="form-control" id="password" placeholder="password">
                    </div>
                    <div class="col-md-4 forget">忘记密码?</div>
                </div>
                <div class="item lang">
                    <label>
                        <input type="radio" ng-click="changeLang('zh')" ng-model="lang" ng-value="'zh'"> 中文
                    </label>
                    <label>
                        <input type="radio" ng-click="changeLang('en')" ng-model="lang" ng-value="'en'"> English
                    </label>
                </div>
                <div class="item">
                    <input type="submit" ng-disabled="login.IsDisable" value="登陆" required class="form-control btn btn-primary">
                </div>

                <div class="item mail" ng-if="!isEn">
                    如果您在使用产品中有任何问题
                    <br> 请联系我们：
                    <a href="mailto:support@comsmartgroup.com">support@comsmartgroup.com</a>
                </div>
                 <div class="item mail" ng-if="isEn">
                    If you have any question in using AdScan product 
                    please contact us:  <br>      
                    <a href="mailto:support@comsmartgroup.com">support@comsmartgroup.com</a>
                </div>

            </form>
        </div>
    </section>
    <footer class="text-center" ng-if="!isEn">
        &copy;2016 Comsmartgroup   版权所有 | Comsmart   V3.0
        <br><a href="#/policy" target="_blank">隐私条款</a>
    </footer>
      <footer class="text-center" ng-if="isEn">
        &copy;2016 Comsmartgroup   All Right | Comsmart   V3.0
        <br><a href="#/policy" target="_blank">Privacy Policy</a>
    </footer>
</div>
