<div class="policy">
    <h1>Privacy Policy</h1>
    <p>
        This privacy policy describes how we collects and uses data in connection with our products and services.
    </p>
    <h4 class="underline">Information Collected</h4>
    <div class="b i">Demographic Information, such as:</div>
    <ul>
        <li>Age</li>
        <li>Gender</li>
        <li>Income Range</li>
    </ul>
    <h4 class="i">
                    Online Behavioral Information
                </h4>
    <p>
        Information on your online browsing activity to determine what types of activities and products you may be interested in and how you interact with certain content and advertisements. This information includes:
    </p>
    <ul>
        <li>Inferred behavioral data</li>
        <li>Websites and content viewed</li>
        <li>Mobile applications used</li>
        <li>Date and time of visits to a website</li>
        <li>Search terms used on a website</li>
        <li>Frequency of visits to a website</li>
        <li>Engagement with an advertisement</li>
    </ul>
    <h4 class="i">Technical Identifiers</h4>
    <p>
        These can be used to identify your device and typically include:
    </p>
    <ul>
        <li>Cookies</li>
        <li>Mobile advertising identifiers (Apple IDFA and Google AAID)</li>
        <li>IP address</li>
        <li>Non-personal data inferred from an IP address, such as non-precise geo-location data</li>
    </ul>
    <h4 class="underline">Use of Information Collected</h4>
    <p>We use the information that is collected and received to share with 3rd party business partners to:</p>
    <ul>
        <li>Deliver targeted advertising campaigns to users across devices</li>
        <li>Serve targeted content to users across devices</li>
        <li>Improve the effectiveness of online advertising campaigns</li>
        <li>Create data-driven marketing products, including models</li>
    </ul>
    <h4 class="underline">Children</h4>
    <p>
        We do not generate audience segments that are targeted to children younger than the age of 13.
    </p>
    <h4 class="underline">
                    Consumer Choice and the Ability to Opt-Out
                </h4>
    <h4 class="underline">Browser Opt Out</h4>
    <p>
        If you want to suppress our cookie, you can click on the link below. The previous cookie will be set to be expired immediately, and your past data will no longer be linked to your computer.
    </p>
    <p>
        <a href="http://data.comsmartgroup.com/analytics/struts2/clearCookie.action">http://data.comsmartgroup.com/analytics/struts2/clearCookie.action</a>
    </p>
    <p>
        Warning, the only way to record your opt-out choice is to set your cookie expired to tell our system not to identify you. If you delete your cookies, you will automatically get a new identified cookie. Then come back on this page to expire the cookie again.
    </p>
    <h4 class="b i">Mobile Applications Opt-Out</h4>
    <p>To opt-out of the collection and use of data for interest-based advertising on your mobile device, you can modify the settings on your mobile device. For example:</p>
    <p>
        <span class="i">For Apple Devices:</span> Go to Settings, Select Privacy, Select Advertising, and enable the “Limit Ad Tracking” setting.
    </p>
    <p>
        <span class="i">For Android Devices:</span> Open the Google Settings App, Select Ads, and enable the “Opt out of interest-based advertising” setting.
    </p>
    <p>
        <span class="b">Note:</span> The specific opt-out instructions for each device may differ slightly depending on which version of the operating software you are running.
    </p>
    <h4 class="underline i">Do Not Track</h4>
    <p>
        Please note that your browser settings may allow you to automatically transmit a “Do Not Track” signal to websites and online services that you visit. If we receive a “Do Not Track” signal from any browser other than Internet Explorer, we will implement an opt-out. To find out more about “Do Not Track,” please visit <a href="http://www.allaboutdnt.com"> http://www.allaboutdnt.com</a>.
    </p>
    <p class="text-center">
        <a href="#login" class="btn btn-danger">返回</a>
    </p>
</div>
