.main {
    position: relative;
    float: left;
    width: 1080px;
    /*min-height: 500px;*/
    font-size: 14px;
    color: #333;
    background-color: #f2f2f2;
    &>header {
        padding: 20px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #e4e4e4;
        .form-control {
            display: inline-block;
            width: 240px;
            margin-right: 25px;
        }
        label {
            margin-right: 8px;
        }
    }
    .control {
        overflow: hidden;
    }
    h3 {
        font-size: 16px;
        padding: 10px 0 25px;
    }
    footer {
        overflow: hidden;
        padding: 0 20px;
        line-height: 40px;
        border-top: 2px solid #ebebeb;
        margin-top: 20px;
        a {
            color: $blue;
        }
    }
}

.content {
    &>nav {
        border-bottom: 2px solid #0096ff;
        a {
            display: inline-block;
            position: relative;
            margin: 0 20px;
            line-height: 50px;
            &::after {
                display: none;
                content: "";
                position: absolute;
                bottom: -9px;
                left: 50%;
                width: 10px;
                height: 10px;
                background-color: #f2f2f2;
                border-left: 2px solid #0096ff;
                border-top: 2px solid #0096ff;
                transform: rotate(45deg) translateX(-50%);
            }
        }
        a.active:after,
        a:hover::after {
            display: block;
        }
        a.active {
            color: $blue;
        }
    }
    .item {
        overflow: hidden;
        padding-bottom: 10px;
    }
}

.item-title {
    color: #333;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    padding-bottom: 10px;
}

$pad:20px;
$item_width:510px;
$item_height:270px;
$item_section_width:($item_width)-(2*$pad);
$item_section_height:($item_height)-(2*$pad)-(18*2)-8;
$rank_color_blue:#39bdf9;
$rank_color_red:#aa2429;
.item-block {
    position: relative;
    float: left;
    width: $item_width;
    height: $item_height;
    padding: $pad;
    padding-top: 10px;
    font-size: 12px;
    overflow: hidden;
    margin: 0 0 20px 20px;
    background-color: #fff;
}

.block-title {
    font-size: 18px;
    text-align: center;
    line-height: 2;
    padding-top: 8px;
}

.item-block_detail {
    $pad: 15px;
    section {
        position: absolute;
        left: $pad;
        bottom: $pad;
        width: $item_section_width;
        height: $item_section_height;
    }
    li {
        line-height: 2.3;
        border-bottom: 1px solid #ebebeb;
        & span:first-of-type {
            margin-right: 20px;
            color: #999;
        }
    }
    li:last-of-type{
        border-bottom: none;
    }
}

.item-block_trend,.item-block_coast,.item-block_plan {
    padding: 10px 0 0;
    section {
        margin: auto;
        height: 215px;
    }
    canvas{
        width: 100%;
        height: 100%;
    }
}

.item-block_effect {
    .flex {
        & .flex-item:last-of-type {
            border-right: none;
        }
    }
    .flex:first-of-type {
        padding-bottom: 15px;
        margin: 15px 0;
        border-bottom: 1px solid #ebebeb;
    }
    .flex-item {
        flex: 1;
        text-align: center;
        border-right: 1px solid #ebebeb;
        line-height: 2;
        color: #666;
        span {
            font-size: 20px;
            line-height: 1.5;
        }

        em{
            color:#1dbdff;
            margin-left: 3px;
        }
    }
}

.target-item {
    margin: 30px auto 80px;
}

.t-item_line {
    position: relative;
    display: inline-block;
    width: 256px;
    height: 12px;
    background-color: #0d345a;
    border-radius: 10px;
    vertical-align: middle;
    margin: 10px;
    .inner {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-radius: 10px;
        background-color: #39bdf9;
        color: #39bdf9;
    }
    .current {
        position: absolute;
        top: 120%;
        right: -50px;
        min-width: 6em;
    }
}

.t-item_line:last-of-type {
    background-color: #aa2429;
    .inner {
        background-color: #ff4e4e;
        color: #ff4e4e;
    }
}

.item-block_mrank,
.item-block_arank,
.item-block_du {
    section {
        margin-top: 40px;
    }
}

.mrank-item,
.arank-item {
    position: relative;
    flex: 1;
    height: 150px;
    text-align: center;
}

.m-item-line,
.a-item-line {
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: 14px;
    height: 120px;
    border-radius: 9px;
    .inner {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        border-radius: 9px;
        background-color: $rank_color_blue;
    }
    .per {
        position: absolute;
        left: -5px;
        top: -20px;
    }
}

.a-item-line .inner {
    background-color: $rank_color_red;
}

.m-item-website,
.a-item-website {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.item-table {
    background-color: #fff;
    width: 1040px;
    margin: auto;
    text-align: center;
    /*min-height: 500px;*/
    table {
        width: 100%;
    }
    thead {
        background-color: #bababa;
        color: #fff;
        tr:first-of-type th {
            border-right: 1px solid #ebebeb;
        }
    }
    td,
    th {
        vertical-align: middle!important;
        text-align: center;
        padding: 10px;
    }
    .br {
        border-right: 1px solid #ebebeb;
    }
    .bl {
        border-left: 1px solid #ebebeb;
    }
    tbody {
        tr {
            border-bottom: 1px solid #ebebeb;
        }
        td {
            /*border-right: 1px solid #ebebeb;*/
        }
    }
    .nbb {
        border-bottom: none;
    }
    .total {
        background-color: #ffeef0;
        color: #333;
    }
    /*.first-tr  [rowspan=3]{
        border-bottom: none;
   }*/
}


/*aaa*/

.item-large {
    position: relative;
    width: 1040px;
    margin: 0 auto 20px;
    padding: 10px 20px 20px;
    /*min-height: 500px;*/
    background-color: #fff;
}

.large-title {
    @extend .block-title;
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.large-gender{
    section{
        min-height: 230px;
    }
}

.gender-item {
    flex: 1;
    text-align: center;
    canvas {
        display: inline-block;
    }
}

.g-item-type {
    font-size: 12px;
    color: #000;
    line-height: 36px;
}

.g-item-value {
    font-size: 36px;
    color: #999;
    margin-bottom: 20px;
}

.hc-wrap{
    height: 300px;
    &>div{
        height: 100%;
    }
}


/*rca*/

[ng-controller=RcaController] {
    .item-table {
        margin-top: 20px;
        color: #666;
    }
    tbody>tr:last-of-type td:last-of-type{
        color: #1587c0;
        color: red;
    }
}

[ng-controller=AoaController] {
    .content {
        position: relative;
        padding-top: 30px;
    }
    .item-block_uv,.item-block_du{
        padding: 10px 0 0;
        height: 450px;
    }
    .item-block_du{
        section{
            margin-top: 80px;
        }
        .arank-item{
            height:300px;
            .a-item-line{
                height: 300px;
            }
        }
    }
    .item-table {
        /*margin-top: 20px;*/
        color: #666;
        td,
        th {
            border: none!important;
        }
       tbody tr:hover{
            background-color: #efe1e1;
        }
    }
    .du_table {
        padding: 4px 0 0 0;
        .table>tbody>tr>td {
            color: #666;
            padding: 0;
            line-height: 1.8;
            vertical-align: top;
            border: 10px solid #fff;
            background: #ebebeb;
            text-align: center;
        }
        .table>tbody>tr>td:hover{
            background-color: #efe1e1;
        }
        .table>tbody>tr td:first-of-type{
            background-color: #fff;
            border-width: 8px;
            color: #000!important;

        }
         .table>tbody tr:last-of-type td{
                background-color: #fff;
         }
         .red{
            color:red!important;
         }
    }
}
