$blue:#1dbdff;
$border-gray-color:#f0f0f0;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #999;
    background-color: #fff;
    min-height: 100%;
    font: 12px 'microsoft yahei', Helvetica, Arial, sans-serif;
}

a {
    color: #999;
    text-decoration: none!important;
}

a:hover {
    color: $blue;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fa {
    margin-right: 8px;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.clearfix{
    zoom:1;
    &::after{
        content:"";
        clear: both;
    }
}
.lay {
    position: relative;
    width: 1280px;
    margin: auto;
    /*overflow: hidden;*/
}

.logout {
    cursor: pointer;
}

.firnav {
    font-size: 0;
    height: 70px;
    overflow: hidden;
    background-color: #272d30;
   &> a {
        float: left;
        display: table;
        height: 100%;
        color: #fff;
        font-size: 12px;
        padding: 0 15px;
        text-align: center;
        vertical-align: middle;
        &:last-of-type{
            padding-right: 0;
        }
        span{
            display: table-cell;
            vertical-align: middle;
            line-height: 1.5;
        }


    }
    .active {
        color: $blue;
        background-color: #1e2325;
    }
    .fr {
        margin-right: 5px;
        margin-top: 28px;
        a {
            color:#fff;
            padding: 0 5px;
            font-size: 12px;
        }
    }
    #logo {
        width: 200px;
        height:100%;
    }
}

.secnav {
    float: left;
    width: 200px;
    z-index: 10;
    h2 {
        font-size: 14px;
        color: #333;
        text-align: center;
        line-height: 50px;
        border-top: 1px solid $border-gray-color;
    }
    ul {
        margin-bottom: 30px;
    }
    li {
        padding-left: 20px;
        margin-top: 25px;
    }
    a.active {
        color: $blue;
    }
  a:hover{
    cursor: pointer;
  }
}

.main {
    position: relative;
    float: left;
    width: 1080px;
    /*min-height: 500px;*/
    font-size: 14px;
    color: #333;
    background-color: #f2f2f2;
    &>header {
        padding: 20px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #e4e4e4;
        .form-control {
            display: inline-block;
            width: 240px;
            margin-right: 25px;
        }
        label {
            margin-right: 8px;
        }
    }
    .control {
        overflow: hidden;
    }
    h3 {
        font-size: 16px;
        padding: 10px 0 25px;
    }
    footer {
        overflow: hidden;
        padding: 0 20px;
        line-height: 40px;
        border-top: 2px solid #ebebeb;
        margin-top: 20px;
        a {
            color: $blue;
        }
    }
}
