<header class="lay firnav">
    <img src="assets/images/navLogo.jpg" alt="" id="logo" class="fl">
    <a ui-sref="home.mp" ng-if="main.navCf.isMp" ui-sref-active="active">
        <span>MediaPlanning<br>媒介规划</span>
    </a>
    <a ui-sref="home.cpp"  ng-if="main.navCf.isCpp" ui-sref-active="active">
        <span>Contact point planning<br>接触点规划</span>
    </a>
    <a ui-sref="home.msplan" ng-if="main.navCf.isMsplan" ui-sref-active="active">
        <span>CrossReach<br>跨屏预算分配</span>
    </a>
   <!--  <a ui-sref="home.kpi" ui-sref-active="active">
        <span>CampaignTracking<br>监测优化</span>
    </a>
    <a ui-sref="home.grp" ui-sref-active="active">
        <span>iGRP_Tracking<br>iGRP监测</span>
    </a>
    <a ui-sref="home.ft" ui-sref-active="active">
        <span>AD Verification <br>作弊流量监测</span>
    </a> -->
    <a ui-sref="home.dmp" ng-if="main.navCf.isDmp" ui-sref-active="active">
        <span>DMP <br>用户筛选分析</span>
    </a>
    <a ui-sref="home.sysadmin" ng-if="main.isAdmin"  ui-sref-active="active">
        <span>Management <br>权限管理</span>
    </a>
    <div class="fr" ng-if="!isEn">
        <a>{{main.uname}}</a>
        <a ng-click="main.logout()" class="logout">注销</a>
        <a href="http://data.ad-rating.com/myapp/media/AdScan%E4%BA%A7%E5%93%81%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8C%202016%20v1.pdf" download>下载手册</a>
    </div>
    <div class="fr" ng-if="isEn">
        <a>{{main.uname}}</a>
        <a ng-click="main.logout()" class="logout">Logout</a>
        <a href="http://data.ad-rating.com/myapp/media/AdScan%E4%BA%A7%E5%93%81%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8C%202016%20v1.pdf" download>Download FAQ</a>
    </div>
</header>
<div ui-view>
</div>
