<div class="lay">
    <nav class="secnav">
        <ul>
            <li class="active">
                <a ui-sref-active="active" ng-if=" main.isAdmin || main.userInfo.crossreach_online_tv==='1'" ui-sref="home.msplan.tv"><i class="fa fa-clone"></i>Online+TV</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-if=" main.isAdmin || main.userInfo.crossreach_pc_mobile==='1'" ui-sref="home.msplan.pc"><i class="fa fa-object-group"></i>PC+Mobile</a>
            </li>
        </ul>
    </nav>
    <div ui-view></div>
</div>
