.msplan {
    min-height: 800px;
    &>header {
        border-bottom: none;
        background-color: #f2f2f2;
    }
    .btn-group {
        margin-right: 30px;
    }
    .btn-danger {
        margin-left: 100px;
    }
    .reports {
        margin-top: 20px;
    }
    tr.st-selected {
        background-color: #0096ff!important;
        color: #fff!important;
    }
    .cover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.ms-panel {
    width: 600px;
    padding: 10px;
    margin: 60px auto;
    .addtab {
        min-height: 360px;
    }
    dl {
        margin: 10px 0;
        dt {
            margin-bottom: 5px;
            font-size: 14px;
            /*color: $blue;*/
            font-weight: bold;
        }
        dd {
            padding-bottom: 10px;
        }
    }
}

.lh34 {
    line-height: 34px;
    text-align: center;
}

.msrun {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    min-height: 800px;
    background-color: #fff;
    z-index: 500;
    &>.fa-close {
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
    }
    .rp-cfg {
        width: 200px;
        height: 100%;
        color: #000;
        h4 {
            font-size: 16px;
            line-height: 3;
            text-align: center;
            border-bottom: 1px solid #000;
        }
    }
    .cfg-dl {
        padding: 20px 10px;
        line-height: 2;
        word-wrap: break-word;
        word-break: normal;
        &>dt {
            font-weight: bold;
            font-size: 14px;
        }
        .label {
            cursor: pointer;
            font-weight: normal;
        }
        dl {
            padding-left: 10px;
            dt {
                color: #1dbdff;
                color: #696969;
                margin-bottom: 4px;
            }
            dd {
                line-height: 1.5;
                margin-bottom: 5px;
            }
        }
    }
    .rp-table {
        width: 1080px;
        color: #000;
        border-left: 1px solid #000;
        .title {
            border-bottom: 1px solid #000;
            height: 49px;
        }
        .dropdown-menu {
            min-width: 0;
        }
        h4 {
            display: inline-block;
            font-size: 16px;
            width: 75%;
            line-height: 3;
            text-indent: 2em;
        }
    }
    .table-main {
        padding: 10px;
    }
}

.panel-saveas {
    width: 400px;
    margin: 100px auto;
    .btn {
        margin: 15px 5px 0 0;
    }
}

.ms-tab {
    position: relative;
    padding-top: 8px;
    &>h2 {
        padding-top: 5px;
        font-size: 14px;
        font-weight: bold;
        line-height: 2;
    }
    .col-md-6 {
        margin-top: 20px;
        padding: 5px;
    }
    .hc-tab {
        width: 100%;
        min-height: 400px;
    }
    .table {
        width: 96%;
        margin: 20px 2%;
        text-align: center;
        th {
            text-align: center;
        }
    }
}

#hc-tb3 {
    height: 400px;
}

.t4 {
    li {
        font-size: 14px;
        padding: 10px;
        input {
            margin-top: 4px;
            text-align: center;
        }
    }
    h2{
        font-size: 16px;
        font-weight: bold;
    }
    select.form-control{
        width: 5em;
    }
    .cfg-form {
        border-right: 1px solid #999;
    }
}
.t4_item{
    margin-bottom: 40px;
    dt{
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 14px;
    }
     .table{
        width: 100%;
        margin: 0;
    }
    td{
        vertical-align: middle!important;
        padding: 6px!important;
    }
   
}
