<div class="main msplan">
    <header>
        <h3>Report List</h3>
        <div class="ms-control">
            <div class="btn-group" uib-dropdown is-open="pc.isActionBtnOpen">
                <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    Choose action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a ng-click="pc.run()">Run Now</a></li>
                    <li role="menuitem"><a ng-click="pc.add()">Add</a></li>
                    <li role="menuitem"><a ng-click="pc.edit()">Edit</a></li>
                    <li role="menuitem"><a ng-click="pc.delReprt()">Delete</a></li>
                </ul>
            </div>
            <input type="text" placeholder="search.." class="form-control" ng-model="pc.search">
            <button ng-click="pc.add()" class="btn btn-danger">Create new report</button>
            <div class="dib fr">
                Show
                <select class="form-control dib" ng-init="pc.itemsByPage=5" ng-model="pc.itemsByPage" ng-options="k as k for k in [5,10,50,100]">
                </select>
            </div>
        </div>
        <div class="reports">
            <table st-table="pc.displayedCollection" st-safe-src="pc.rowCollection" class="table">
                <thead>
                    <tr>
                        <th st-sort="id">id</th>
                        <th st-sort="name">Report</th>
                        <th st-sort="modify_date">Last Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in pc.displayedCollection | filter:pc.search " ng-click="pc.rowClick(row)">
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.modify_date}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-center">
                            <div st-pagination="" st-items-by-page="pc.itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </header>
    <div class="cover" ng-show="pc.isShowCover">
        <div class="panel panel-default ms-panel">
            <uib-tabset active="pc.addActiveIndex" justified="true">
                <uib-tab index="0" heading="Set campaign target">
                    <div class="addtab">
                        <dl>
                            <dt>Campaign Duration</dt>
                            <dd>
                                <select ng-model="pc.cfg.campaignDuration" ng-options="d.id as d.text for d in pc.durations" class="form-control" ng-change="pc.shoe()"></select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Target Age-range</dt>
                            <dd>
                                <div class="row">
                                    <div class="col-md-2 lh34 text-center">From</div>
                                    <div class="col-md-4">
                                        <select ng-model="pc.cfg.ageFrom" ng-init="pc.cfg.ageFrom=15" ng-options="k as k for k in pc.ageFromArray" class="form-control"></select>
                                    </div>
                                    <div class="col-md-2 lh34 text-center">To</div>
                                    <div class="col-md-4">
                                        <select ng-model="pc.cfg.ageTo" ng-init="pc.cfg.ageTo=19" ng-options="k as k for k in pc.ageToArray" class="form-control"></select>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Gender</dt>
                            <dd class="row">
                                <div class="col-md-3">
                                    <label>
                                        <input type="checkbox" ng-model="pc.cfg.genderMale"> Male
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label>
                                        <input type="checkbox" ng-model="pc.cfg.genderFemale"> Female
                                    </label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Monthly Personal Income</dt>
                            <dd>
                                <ui-select multiple ng-model="pc.cfg.mpi" theme="bootstrap">
                                    <ui-select-match>{{$item.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in pc.mpiList | propsFilter: {id: $select.search, text: $select.search}">
                                        <div ng-bind-html="item.text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Geographic</dt>
                            <dl>
                                <ui-select ng-model="pc.cfg.city" theme="bootstrap">
                                    <ui-select-match>{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in pc.cityList | propsFilter: {id: $select.search, text: $select.search}">
                                        <div ng-bind-html="item.text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </dl>
                        </dl>
                    </div>
                    <div class="text-center">
                        <button ng-disabled="!pc.cfg.mpi.length || !pc.cfg.city" class="btn btn-primary" ng-click="pc.addActiveIndex=1">Next</button>
                        <button class="btn btn-danger" ng-click="pc.cancel()">Cancel</button>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Set Mobile  campaign" disable="!pc.cfg.mpi.length || !pc.cfg.city.length">
                    <div class="addtab">
                        <dl>
                            <dt>Mobile Reach Curve & Cost
                                <a class="fr btn btn-link" href="assets/Mobile.Reach.Curve.Upload.Template.xlsx" download>Download Template</a>
                            </dt>
                            <dd>
                                <div class="form-group">
                                    <input nv-file-select="" uploader="pc.uploader" type="file" ng-model="pc.upfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Mobile Networks</dt>
                            <dd>
                                <ui-select multiple ng-model="pc.cfg.tvnetwork" theme="bootstrap">
                                    <ui-select-match>{{$item.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in pc.netList | propsFilter: {id: $select.search, text: $select.search}">
                                        <div ng-bind-html="item.text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </dd>
                        </dl>
                    </div>
                    <div class="text-center">
                        <button ng-disabled="!pc.cfg.tvnetwork.length || !pc.cfg.uploadFileID" class="btn btn-primary" ng-click="pc.addActiveIndex=2">Next</button>
                        <button class="btn btn-danger" ng-click="pc.cancel()">Cancel</button>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Set online plan" disable="!pc.cfg.tvnetwork.length || !pc.cfg.uploadFileID">
                    <div class="addtab">
                        <dl>
                            <dt>Online Video CPM (RMB)</dt>
                            <dl class="row">
                                <div class="col-md-4">
                                    <input type="number" ng-model="pc.cfg.ovcpm" class="form-control text-center">
                                </div>
                            </dl>
                        </dl>
                        <dl>
                            <dt>Online Video Sites</dt>
                            <dd>
                                <ui-select multiple ng-model="pc.cfg.ovsites" theme="bootstrap">
                                    <ui-select-match>{{$item.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in pc.siteList | propsFilter: {id: $select.search, text: $select.search}">
                                        <div ng-bind-html="item.text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </dd>
                        </dl>
                    </div>
                    <div class="text-center">
                        <button ng-disabled="!pc.cfg.ovcpm || !pc.cfg.ovsites.length" class="btn btn-primary" ng-click="pc.addrun()">Run</button>
                        <button class="btn btn-danger" ng-click="pc.cancel()">Cancel</button>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="cover" ng-show="pc.isShowSaveAs">
        <div class="panel panel-default panel-saveas">
            <div class="panel-heading">Save As</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <input type="text" ng-model="pc.saveAsName" class="form-control">
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" ng-click="pc.saveAs()">Save</button>
                    <button class="btn btn-primary" ng-click="pc.isShowSaveAs=false;pc.saveAsName=''">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="msrun" ng-show='pc.isShowRun'>
    <i class="fa fa-close" ng-click="pc.isShowRun=false"></i>
    <div class="fl rp-cfg">
        <h4>Report View</h4>
        <dl class="cfg-dl">
            <dt>1. Campaign Target <span ng-click="pc.editTab()" class="label label-primary">edit</span></dt>
            <dd>
                <dl>
                    <dt>Campaign Duration </dt>
                    <dd>
                        {{pc.rcfg.campaignDurationText}}
                    </dd>
                </dl>
                <dl>
                    <dt>Target Audience</dt>
                    <dd>
                        {{pc.rcfg.ageFrom}} to {{pc.rcfg.ageTo}} |
                        <span ng-if="pc.rcfg.genderMale">Male</span>
                        <span ng-if="pc.rcfg.genderFemale">Female</span>
                    </dd>
                </dl>
                <dl>
                    <dt>Monthly Personal Income</dt>
                    <dd>{{pc.rcfg.mpiText}}</dd>
                </dl>
            </dd>
        </dl>
        <dl class="cfg-dl">
            <dt>2. Historical Mobile Data <span ng-click="pc.editTab(1)" class="label label-primary">edit</span></dt>
            <dd>
                <dl>
                    <dt>Mobile Networks</dt>
                    <dd>{{pc.rcfg.tvnetworkText}}</dd>
                </dl>
            </dd>
        </dl>
        <dl class="cfg-dl">
            <dt>3. Online Video Plan <span ng-click="pc.editTab(2)" class="label label-primary">edit</span></dt>
            <dd>
                <dl>
                    <dt>Online Video Sites</dt>
                    <dd>
                        {{pc.rcfg.ovsitesText}}
                    </dd>
                </dl>
                <dl>
                    <dt>Online Video CPM(RMB)</dt>
                    <dd>{{pc.rcfg.ovcpm}}</dd>
                </dl>
            </dd>
        </dl>
    </div>
    <div class="fr rp-table">
        <div class="title">
            <h4>{{pc.reportName}}</h4>
            <div class="btn-group"  uib-dropdown is-open="">
                <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    Download <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a ng-click="pc.downloadRpt()">Download</a></li>
                    <li role="menuitem"><a ng-click="pc.downloadRpt(true)">Download full report</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="">
                <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    Save <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a ng-click="pc.save()">Save</a></li>
                    <li role="menuitem"><a ng-click="pc.saveAsName='';pc.isShowSaveAs=true">Save as</a></li>
                </ul>
            </div>
        </div>
        <div class="table-main">
            <uib-tabset active="pc.tabIndex">
                <uib-tab index="0" select="pc.render1()" heading="Unduplicated Reach">
                    <div class="ms-tab">
                        <h2>Channel Mix: Mobile + PC Video</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="hc-ga1" class="hc-tab">
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Gross Rating Points </th>
                                            <th>Reach 1+ % </th>
                                            <th>Reach 2+ % </th>
                                            <th>Reach 3+ % </th>
                                            <th>Reach 4+ % </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in pc.tb_ga1 track by $index">
                                            <td ng-repeat="k in row track by $index">{{k}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <div id="hc-spending1" class="hc-tab"></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Spending</th>
                                            <th>Reach 1+ % </th>
                                            <th>Reach 2+ % </th>
                                            <th>Reach 3+ % </th>
                                            <th>Reach 4+ % </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in pc.tb_spending1 track by $index">
                                            <td ng-repeat="k in row track by $index">{{k}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" select="pc.render2()" heading="Channel Comparison">
                    <div class="ms-tab">
                        <div class="row">
                            <div class="col-md-2 lh34">
                                Frequency Level
                            </div>
                            <div class="col-md-2">
                                <select ng-change="pc.tab2_levelChange()" ng-init="pc.tab2_level=1" ng-model="pc.tab2_level" ng-options="k as k for k in [1,2,3,4]" class="form-control"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="hc-tab" id="hc-ga2">
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Gross Rating Points </th>
                                            <th>Total</th>
                                            <th>Tv</th>
                                            <th>Online</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in pc.tb_ga2 track by $index">
                                            <td ng-repeat="k in row track by $index">{{k}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <div class="hc-tab" id="hc-spending2">
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Spending</th>
                                            <th>Total</th>
                                            <th>Tv</th>
                                            <th>Online</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in pc.tb_spending2 track by $index">
                                            <td ng-repeat="k in row track by $index">{{k}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" select="pc.render3()" heading="Budget Allocation">
                    <div class="ms-tab">
                        <div class="row">
                            <div class="col-md-2 lh34">
                                Frequency Level
                            </div>
                            <div class="col-md-2">
                                <select ng-change="pc.tab3_levelChange()" ng-init="pc.tab3_level=1" ng-model="pc.tab3_level" ng-options="k as k for k in [1,2,3,4]" class="form-control"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div id="hc-tab3" class="col-md-8 col-md-offset-2"></div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Scenarios Analysis">
                    <div class="ms-tab t4">
                        <div class="row">
                            <div class="col-md-3">
                                <h2>Scenario Goal</h2>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                Frequency Level:
                                <select class="form-control" ng-change="pc.tab4_levelChange()" ng-init="pc.tab4_level=1" ng-model="pc.tab4_level" ng-options="k as k for k in [1,2,3,4]"></select>
                            </div>
                        </div>
                        <div class="t4_tbs">
                            <div class="t4_tbs_ctrl">
                                <ul ng-init="pc.isCB=true;">
                                    <li>
                                        <label ng-click="pc.isCB=true;pc.tbType='cb'">
                                            <input type="radio" ng-model="pc.isCB" ng-value="true"> Campaign Budget (RMB)
                                        </label>
                                        <input type="number" ng-model="pc.cbv" ng-disabled="!pc.isCB">
                                    </li>
                                    <li>
                                        <label ng-click="pc.isCB=false;">
                                            <input type="radio" ng-model="pc.isCB" ng-value="false"> Audience Reach %
                                        </label>
                                        <input type="number" ng-model="pc.arv" ng-disabled="pc.isCB">
                                    </li>
                                    <li>
                                        <button class="btn" ng-click="pc.t4()">提交</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="t4_tbs_main">
                                <dl class="t4_item">
                                    <dt>Summary</dt>
                                    <dd>
                                        <table ng-if="pc.isCBTab" class="table table-bordered table-hover">
                                            <tr>
                                                <td ng-repeat="d in pc.t4ta[0] track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">
                                                    {{pc.t4ta[1][0]}}
                                                </td>
                                                <td ng-repeat="d in pc.t4ta[1].slice(1) track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in pc.t4ta[2] track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">
                                                    {{pc.t4ta[3][0]}}
                                                </td>
                                                <td ng-repeat="d in pc.t4ta[3].slice(1) track by $index ">{{d}}</td>
                                            </tr>
                                            <tr ng-repeat="r in pc.t4ta.slice(4) track by $index">
                                                <td ng-repeat="d in r track by $index">{{d}}</td>
                                            </tr>
                                        </table>
                                        <table ng-if="!pc.isCBTab" class="table table-bordered table-hover">
                                            <tr>
                                                <td ng-repeat="d in pc.t4ta[0] track by $index">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">
                                                    {{pc.t4ta[1][0]}}
                                                </td>
                                                <td ng-repeat="d in pc.t4ta[1].slice(1) track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in pc.t4ta[2] track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in pc.t4ta[3] track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">
                                                    {{pc.t4ta[4][0]}}
                                                </td>
                                                <td ng-repeat="d in pc.t4ta[4].slice(1) track by $index ">{{d}}</td>
                                            </tr>
                                            <tr ng-repeat="r in pc.t4ta.slice(5) track by $index">
                                                <td ng-repeat="d in r track by $index">{{d}}</td>
                                            </tr>
                                        </table>
                                    </dd>
                                </dl>
                                <dl class="t4_item">
                                    <dt>Unduplicated Reach</dt>
                                    <dd>
                                        <table class="text-center table table-bordered table-hover">
                                            <tr>
                                                <td colspan="2">{{pc.t4tb[0][0]}}</td>
                                                <td colspan="21"><!-- {{pc.t4tb[0][1]}} -->Mobile</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in pc.t4tb[1] track by $index">
                                                    {{d}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="11">
                                                    {{pc.t4tb[2][0]}}
                                                </td>
                                                <td ng-repeat="d in pc.t4tb[2].slice(1) track by $index">{{d}}<span ng-if="$index!==1">%</span></td>
                                            </tr>
                                            <tr ng-repeat="r in pc.t4tb.slice(3) track by $index">
                                                <td ng-repeat="d in r track by $index">{{d}}<span ng-if="$index!==0">%</span></td>
                                            </tr>
                                        </table>
                                    </dd>
                                </dl>
                                <dl class="t4_item">
                                    <dt>Media Spending</dt>
                                    <dd>
                                        <table class="text-center table table-bordered table-hover">
                                            <tr>
                                                <td colspan="2">{{pc.t4tc[0][0]}}</td>
                                                <td colspan="21">Mobile</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in pc.t4tc[1] track by $index">
                                                    {{d}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="11">
                                                    {{pc.t4tc[2][0]}}
                                                </td>
                                                <td ng-repeat="d in pc.t4tc[2].slice(1) track by $index">{{d}}</td>
                                            </tr>
                                            <tr ng-repeat="r in pc.t4tc.slice(3) track by $index">
                                                <td ng-repeat="d in r track by $index">{{d}}</td>
                                            </tr>
                                        </table>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
