<div class="main msplan">
    <header>
        <h3>Report List</h3>
        <div class="ms-control">
            <div class="btn-group" uib-dropdown is-open="tv.isActionBtnOpen">
                <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    Choose action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a ng-click="tv.run()">Run Now</a></li>
                    <li role="menuitem"><a ng-click="tv.add()">Add</a></li>
                    <li role="menuitem"><a ng-click="tv.edit()">Edit</a></li>
                    <li role="menuitem"><a ng-click="tv.delReprt()">Delete</a></li>
                </ul>
            </div>
            <input type="text" placeholder="search.." class="form-control" ng-model="tv.search">
            <button ng-click="tv.add()" class="btn btn-danger">Create new report</button>
            <div class="dib fr">
                Show
                <select class="form-control dib" ng-init="tv.itemsByPage=5" ng-model="tv.itemsByPage" ng-options="k as k for k in [5,10,50,100]">
                </select>
            </div>
        </div>
        <div class="reports">
            <table st-table="tv.displayedCollection" st-safe-src="tv.rowCollection" class="table">
                <thead>
                    <tr>
                        <th st-sort="id">id</th>
                        <th st-sort="name">Report</th>
                        <th st-sort="modify_date">Last Modified</th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in tv.displayedCollection | filter:tv.search " ng-click="tv.rowClick(row)">
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.modify_date}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-center">
                            <div st-pagination="" st-items-by-page="tv.itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </header>
    <div class="cover" ng-show="tv.isShowCover">
        <div class="panel panel-default ms-panel">
            <uib-tabset active="tv.addActiveIndex" justified="true">
                <uib-tab index="0" heading="Set campaign target">
                    <div class="addtab">
                        <dl>
                            <dt>Campaign Duration</dt>
                            <dd>
                                <select ng-model="tv.cfg.campaignDuration" ng-options="d.id as d.text for d in tv.durations" class="form-control" ng-change="tv.shoe()"></select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Target Age-range</dt>
                            <dd>
                                <div class="row">
                                    <div class="col-md-2 lh34 text-center">From</div>
                                    <div class="col-md-4">
                                        <select ng-model="tv.cfg.ageFrom" ng-init="tv.cfg.ageFrom=15" ng-options="k as k for k in tv.ageFromArray" class="form-control"></select>
                                    </div>
                                    <div class="col-md-2 lh34 text-center">To</div>
                                    <div class="col-md-4">
                                        <select ng-model="tv.cfg.ageTo" ng-init="tv.cfg.ageTo=19" ng-options="k as k for k in tv.ageToArray" class="form-control"></select>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Gender</dt>
                            <dd class="row">
                                <div class="col-md-3">
                                    <label>
                                        <input type="checkbox" ng-model="tv.cfg.genderMale"> Male
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label>
                                        <input type="checkbox" ng-model="tv.cfg.genderFemale"> Female
                                    </label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Monthly Personal Income</dt>
                            <dd>
                                <ui-select multiple ng-model="tv.cfg.mpi" theme="bootstrap">
                                    <ui-select-match>{{$item.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in tv.mpiList | propsFilter: {id: $select.search, text: $select.search}">
                                        <div ng-bind-html="item.text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Geographic</dt>
                            <dl>
                                <ui-select ng-model="tv.cfg.city" theme="bootstrap">
                                    <ui-select-match>{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in tv.cityList | propsFilter: {id: $select.search, text: $select.search}">
                                        <div ng-bind-html="item.text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </dl>
                        </dl>
                    </div>
                    <div class="text-center">
                        <button ng-disabled="!tv.cfg.mpi.length || !tv.cfg.city" class="btn btn-primary" ng-click="tv.addActiveIndex=1">Next</button>
                        <button class="btn btn-danger" ng-click="tv.cancel()">Cancel</button>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Set TV campaign" disable="!tv.cfg.mpi.length || !tv.cfg.city.length">
                    <div class="addtab">
                        <dl>
                            <dt>TV Reach Curve & Cost
                                <a class="fr btn btn-link" href="assets/TV.Reach.Curve.Upload.Template.xlsx" download>Download Template</a>
                            </dt>
                            <dd>
                                <div class="form-group">
                                    <input nv-file-select="" uploader="tv.uploader" type="file" ng-model="tv.upfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>TV Networks</dt>
                            <dd>
                                <ui-select multiple ng-model="tv.cfg.tvnetwork" theme="bootstrap">
                                    <ui-select-match>{{$item.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in tv.netList | propsFilter: {id: $select.search, text: $select.search}">
                                        <div ng-bind-html="item.text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </dd>
                        </dl>
                    </div>
                    <div class="text-center">
                        <button ng-disabled="!tv.cfg.tvnetwork.length || !tv.cfg.uploadFileID" class="btn btn-primary" ng-click="tv.addActiveIndex=2">Next</button>
                        <button class="btn btn-danger" ng-click="tv.cancel()">Cancel</button>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Set online plan" disable="!tv.cfg.tvnetwork.length || !tv.cfg.uploadFileID">
                    <div class="addtab">
                        <dl>
                            <dt>Online Video CPM (RMB)</dt>
                            <dl class="row">
                                <div class="col-md-4">
                                    <input type="number" ng-model="tv.cfg.ovcpm" class="form-control text-center">
                                </div>
                            </dl>
                        </dl>
                        <dl>
                            <dt>Online Video Sites</dt>
                            <dd>
                                <ui-select multiple ng-model="tv.cfg.ovsites" theme="bootstrap">
                                    <ui-select-match>{{$item.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in tv.siteList | propsFilter: {id: $select.search, text: $select.search}">
                                        <div ng-bind-html="item.text | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </dd>
                        </dl>
                    </div>
                    <div class="text-center">
                        <button ng-disabled="!tv.cfg.ovcpm || !tv.cfg.ovsites.length" class="btn btn-primary" ng-click="tv.addrun()">Run</button>
                        <button class="btn btn-danger" ng-click="tv.cancel()">Cancel</button>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="cover" ng-show="tv.isShowSaveAs">
        <div class="panel panel-default panel-saveas">
            <div class="panel-heading">Save As</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <input type="text" ng-model="tv.saveAsName" class="form-control">
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" ng-click="tv.saveAs()">Save</button>
                    <button class="btn btn-primary" ng-click="tv.isShowSaveAs=false;tv.saveAsName=''">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="msrun clearfix" ng-show='tv.isShowRun'>
    <i class="fa fa-close" ng-click="tv.isShowRun=false"></i>
    <div class="fl rp-cfg">
        <h4>Report View</h4>
        <dl class="cfg-dl">
            <dt>1. Campaign Target <span ng-click="tv.editTab()" class="label label-primary">edit</span></dt>
            <dd>
                <dl>
                    <dt>Campaign Duration </dt>
                    <dd>
                        {{tv.rcfg.campaignDurationText}}
                    </dd>
                </dl>
                <dl>
                    <dt>Target Audience</dt>
                    <dd>
                        {{tv.rcfg.ageFrom}} to {{tv.rcfg.ageTo}} |
                        <span ng-if="tv.rcfg.genderMale">Male</span>
                        <span ng-if="tv.rcfg.genderFemale">Female</span>
                    </dd>
                </dl>
                <dl>
                    <dt>Monthly Personal Income</dt>
                    <dd>{{tv.rcfg.mpiText}}</dd>
                </dl>
            </dd>
        </dl>
        <dl class="cfg-dl">
            <dt>2. Historical TV Data <span ng-click="tv.editTab(1)" class="label label-primary">edit</span></dt>
            <dd>
                <dl>
                    <dt>TV Networks</dt>
                    <dd>{{tv.rcfg.tvnetworkText}}</dd>
                </dl>
            </dd>
        </dl>
        <dl class="cfg-dl">
            <dt>3. Online Video Plan <span ng-click="tv.editTab(2)" class="label label-primary">edit</span></dt>
            <dd>
                <dl>
                    <dt>Online Video Sites</dt>
                    <dd>
                        {{tv.rcfg.ovsitesText}}
                    </dd>
                </dl>
                <dl>
                    <dt>Online Video CPM(RMB)</dt>
                    <dd>{{tv.rcfg.ovcpm}}</dd>
                </dl>
            </dd>
        </dl>
    </div>
    <div class="fr rp-table">
        <div class="title">
            <h4>{{tv.reportName}}</h4>
            <div class="btn-group" uib-dropdown is-open="">
                <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    Download <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a ng-click="tv.downloadRpt()">Download</a></li>
                    <li role="menuitem"><a ng-click="tv.downloadRpt(true)">Download full report</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown is-open="">
                <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    Save <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li role="menuitem"><a ng-click="tv.save()">Save</a></li>
                    <li role="menuitem"><a ng-click="tv.saveAsName='';tv.isShowSaveAs=true">Save as</a></li>
                </ul>
            </div>
        </div>
        <div class="table-main">
            <uib-tabset active="tv.tabIndex">
                <uib-tab index="0" select="tv.render1()" heading="Unduplicated Reach">
                    <div class="ms-tab">
                        <h2>Channel Mix: TV + Online Video</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="hc-ga1" class="hc-tab">
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Gross Rating Points </th>
                                            <th>Reach 1+ % </th>
                                            <th>Reach 2+ % </th>
                                            <th>Reach 3+ % </th>
                                            <th>Reach 4+ % </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in tv.tb_ga1 track by $index">
                                            <td ng-repeat="k in row track by $index">{{k}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <div id="hc-spending1" class="hc-tab"></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Spending</th>
                                            <th>Reach 1+ % </th>
                                            <th>Reach 2+ % </th>
                                            <th>Reach 3+ % </th>
                                            <th>Reach 4+ % </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in tv.tb_spending1 track by $index">
                                            <td ng-repeat="k in row track by $index">{{k}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" select="tv.render2()" heading="Channel Comparison">
                    <div class="ms-tab">
                        <div class="row">
                            <div class="col-md-2 lh34">
                                Frequency Level
                            </div>
                            <div class="col-md-2">
                                <select ng-change="tv.tab2_levelChange()" ng-init="tv.tab2_level=1" ng-model="tv.tab2_level" ng-options="k as k for k in [1,2,3,4]" class="form-control"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="hc-tab" id="hc-ga2">
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Gross Rating Points </th>
                                            <th>Total</th>
                                            <th>Tv</th>
                                            <th>Online</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in tv.tb_ga2 track by $index">
                                            <td ng-repeat="k in row track by $index">{{k}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <div class="hc-tab" id="hc-spending2">
                                </div>
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Spending</th>
                                            <th>Total</th>
                                            <th>Tv</th>
                                            <th>Online</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in tv.tb_spending2 track by $index">
                                            <td ng-repeat="k in row track by $index">{{k}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" select="tv.render3()" heading="Budget Allocation">
                    <div class="ms-tab">
                        <div class="row">
                            <div class="col-md-2 lh34">
                                Frequency Level
                            </div>
                            <div class="col-md-2">
                                <select ng-change="tv.tab3_levelChange()" ng-init="tv.tab3_level=1" ng-model="tv.tab3_level" ng-options="k as k for k in [1,2,3,4]" class="form-control"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div id="hc-tab3" class="col-md-8 col-md-offset-2"></div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Scenarios Analysis">
                    <div class="ms-tab t4">
                        <div class="row">
                            <div class="col-md-3">
                                <h2>Scenario Goal</h2>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3">
                                Frequency Level:
                                <select class="form-control" ng-change="tv.tab4_levelChange()" ng-init="tv.tab4_level=1" ng-model="tv.tab4_level" ng-options="k as k for k in [1,2,3,4]"></select>
                            </div>
                        </div>
                        <div class="t4_tbs">
                            <div class="t4_tbs_ctrl">
                                <ul ng-init="tv.isCB=true;">
                                    <li>
                                        <label ng-click="tv.isCB=true;tv.tbType='cb'">
                                            <input type="radio" ng-model="tv.isCB" ng-value="true"> Campaign Budget (RMB)
                                        </label>
                                        <input type="number" ng-model="tv.cbv" ng-disabled="!tv.isCB">
                                    </li>
                                    <li>
                                        <label ng-click="tv.isCB=false;">
                                            <input type="radio" ng-model="tv.isCB" ng-value="false"> Audience Reach %
                                        </label>
                                        <input type="number" ng-model="tv.arv" ng-disabled="tv.isCB">
                                    </li>
                                    <li>
                                        <button class="btn" ng-click="tv.t4()">提交</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="t4_tbs_main">
                                <dl class="t4_item">
                                    <dt>Summary</dt>
                                    <dd>
                                        <table ng-if="tv.isCBTab" class="table table-bordered table-hover">
                                            <tr>
                                                <td ng-repeat="d in tv.t4ta[0] track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">
                                                    {{tv.t4ta[1][0]}}
                                                </td>
                                                <td ng-repeat="d in tv.t4ta[1].slice(1) track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in tv.t4ta[2] track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">
                                                    {{tv.t4ta[3][0]}}
                                                </td>
                                                <td ng-repeat="d in tv.t4ta[3].slice(1) track by $index ">{{d}}</td>
                                            </tr>
                                            <tr ng-repeat="r in tv.t4ta.slice(4) track by $index">
                                                <td ng-repeat="d in r track by $index">{{d}}</td>
                                            </tr>
                                        </table>
                                        <table ng-if="!tv.isCBTab" class="table table-bordered table-hover">
                                            <tr>
                                                <td ng-repeat="d in tv.t4ta[0] track by $index">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">
                                                    {{tv.t4ta[1][0]}}
                                                </td>
                                                <td ng-repeat="d in tv.t4ta[1].slice(1) track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in tv.t4ta[2] track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in tv.t4ta[3] track by $index ">{{d}}</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">
                                                    {{tv.t4ta[4][0]}}
                                                </td>
                                                <td ng-repeat="d in tv.t4ta[4].slice(1) track by $index ">{{d}}</td>
                                            </tr>
                                            <tr ng-repeat="r in tv.t4ta.slice(5) track by $index">
                                                <td ng-repeat="d in r track by $index">{{d}}</td>
                                            </tr>
                                        </table>
                                    </dd>
                                </dl>
                                <dl class="t4_item">
                                    <dt>Unduplicated Reach</dt>
                                    <dd>
                                        <table class="text-center table table-bordered table-hover">
                                            <tr>
                                                <td colspan="2">{{tv.t4tb[0][0]}}</td>
                                                <td colspan="21">{{tv.t4tb[0][1]}}</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in tv.t4tb[1] track by $index">
                                                    {{d}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="11">
                                                    {{tv.t4tb[2][0]}}
                                                </td>
                                                <td ng-repeat="d in tv.t4tb[2].slice(1) track by $index">{{d}}<span ng-if="$index!==1">%</span></td>
                                            </tr>
                                            <tr ng-repeat="r in tv.t4tb.slice(3) track by $index">
                                                <td ng-repeat="d in r track by $index">{{d}}<span ng-if="$index!==0">%</span></td>
                                            </tr>
                                        </table>
                                    </dd>
                                </dl>
                                <dl class="t4_item">
                                    <dt>Media Spending</dt>
                                    <dd>
                                        <table class="text-center table table-bordered table-hover">
                                            <tr>
                                                <td colspan="2">{{tv.t4tc[0][0]}}</td>
                                                <td colspan="21">{{tv.t4tc[0][1]}}</td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="d in tv.t4tc[1] track by $index">
                                                    {{d}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="11">
                                                    {{tv.t4tc[2][0]}}
                                                </td>
                                                <td ng-repeat="d in tv.t4tc[2].slice(1) track by $index">{{d}}</td>
                                            </tr>
                                            <tr ng-repeat="r in tv.t4tc.slice(3) track by $index">
                                                <td ng-repeat="d in r track by $index">{{d}}</td>
                                            </tr>
                                        </table>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
