<div class="lay"  ng-if="!isEn">
	<nav class="secnav">
        <h2>媒介规划</h2>
        <ul>
            <li class="active">
                <a ui-sref-active="active" ng-if="main.userInfo.mediaplanning_demographic==='1'" ui-sref="home.mp.demographic" ><i class="fa fa-clone"></i>人口属性</a>
            </li>
            <li>
                 <a ui-sref-active="active" ng-if="main.userInfo.mediaplanning_web_habits==='1'" ui-sref="home.mp.web-surfinghabits" ><i class="fa fa-newspaper-o"></i>上网习惯</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-if="main.userInfo.mediaplanning_media_habits==='1'" ui-sref="home.mp.mediahabits" ><i class="fa fa-object-group"></i>媒介习惯</a>
            </li>
        </ul>
    </nav>
    <div ui-view>
	</div>
</div>

<div class="lay"  ng-if="isEn">
	<nav class="secnav">
        <h2>MediaPlanning</h2>
        <ul>
            <li class="active">
                <a ui-sref-active="active" ng-if="main.userInfo.mediaplanning_demographic==='1'"  ui-sref="home.mp.demographic" ><i class="fa fa-clone"></i>Demographic</a>
            </li>
            <li>
                 <a ui-sref-active="active" ng-if="main.userInfo.mediaplanning_web_habits==='1'" ui-sref="home.mp.web-surfinghabits" ><i class="fa fa-newspaper-o"></i>Web-surfinghabits</a>
            </li>
            <li>
                <a ui-sref-active="active" ng-if="main.userInfo.mediaplanning_media_habits==='1'" ui-sref="home.mp.mediahabits" ><i class="fa fa-object-group"></i>Mediahabits</a>
            </li>
        </ul>
    </nav>
    <div ui-view>

	</div>
</div>
