.grp-main {
    padding: 0 20px;
    min-height: 1500px;
    h2 {
        font-size: 16px;
        line-height: 65px;
        text-indent: -5px;
    }
    .setting {
        color: #999;
        line-height: 2;
        border-bottom: 1px solid #999;
        margin-bottom: 20px
    }
}
.form-control{
    display: inline-block;
}
.form-list {
    padding-top: 20px;
}

.grp-main  .item {
    margin: 0 0 20px 0;
    input[type="checkbox"]{
        display: inline-block;
        outline: none;
    }
    
    input[type=radio]{
        margin-right: 3px;
    }
    input+label{
        margin-right: 10px;
    }

    &>*{
        display: inline-block;
        vertical-align: middle;
    }
    .l,
    .input,
    .isRequire {
        position: relative;
        /*float: left;*/
        display: inline-block;
        min-height: 100%;
        /*line-height: 40px;*/
        vertical-align: middle;
    }
    .l {
        width: 120px;
        text-align: right;
        margin-right: 20px;
    }
    .vat {
        vertical-align: top;
    }
    .input {
        position: relative;
        width: 420px;
        font-size: 12px;
        .btn-default-focus {
            color: #333;
            background-color: #f2f2f2;
            border-color: #ADADAD;
            text-decoration: none;
            outline: none;
            outline-offset: 0;
            box-shadow: none;
        }
    }
    .dimension-list {
        width: 500px;
        &>div {
            line-height: 2;
            margin-bottom: 8px;
        }
        .label {
            display: inline-block;
            font-size: 14px;
            padding: .4em .6em .4em;
            min-width: 8em;
            line-height: 1.5;
        }
        .fa-trash {
            font-size: 2em;   
            margin-left: 8px;
            color: #c5181c;
            cursor: pointer;
            vertical-align: middle;
        }

        select.form-control{
            display: inline-block;
            width: 22em;
        }
    }
    .isRequire {
        position: relative;
        margin-left: 12px;
        span {
            color: #a0a0a0;
        }
        i {
            position: relative;
            font-size: 24px;
            color: #c5181c;
            cursor: pointer;
        }
    }
}

.rest-btn {
    position: relative;
    width: 500px;
    line-height: 3;
    text-align: center;
    border: 1px solid #66afe9;
    outline: 0;
    color: #0096ff;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 60px;
    cursor: pointer;
    ul {
        position: absolute;
        top: 44px;
        left: 0;
        width: 100%;
        padding: 8px 0;
        background-color: #fff;
        z-index: 20;
        li {
            color: #000;
            line-height: 2;
            text-align: left;
            text-indent: 2em;
            font-weight: normal;
            &:hover {
                background-color: #f0f5f9;
            }
        }
    }
}

.rest-btn-filter {
    z-index: 20;
}

.rest-btn-dimension {
    z-index: 10;
}

.doubleselect {
    .form-control {
        display: inline-block;
        /*float: left;*/
        width: 200px;
    }
    .fl {
        margin-right: 12px;
    }
    .isRequire {
        i {
            top: 5px!important;
        }
    }
}

.sendTo{
    padding: 20px 40px;
    background: rgba(0, 150, 255,.1);
        margin-bottom: 20px;
    &>*{
        display: inline-block;
        vertical-align: middle;
    }
    input{
        width: 500px;
    }
}

.autoRun{
    .item{
        .row{
            display: inline-block;
            width: 300px;
        }
    }
}
.item-btns{
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #999 ;
    .btn{
        position: relative;
        margin: 0 5px;
    }
}

.rlist{
    
    table{
        background-color: #fff;
    }
    tr{
        line-height: 2;
        td:first-of-type{
            text-align: center;
        }
    }


    th{
        text-align: center!important;
    }
    .active{
        td{
        background-color: #0096ff!important;
        color: #fff!important;
            
        }
    }
}

.rls-btns{
    margin-bottom:20px;
}

.st-sort-descent{
    &::after{
        content:"▼";
    }
}

.st-sort-ascent{
      &::after{
        content:"▲";
    }
}
.BIframe{
    display: block;
    width: 1080px;
    margin: auto;
    min-height:600px;
    overflow: scroll;
    /*padding-left: 200px;*/
}