.sa {
    margin-bottom: 30px;
    h2 {
        font-size: 16px;
        line-height: 4;
        /*text-indent: 2em;*/
        padding-left: 20px;
        background-color: #f8f8f8;
    }
    .btns {
        padding: 0 20px 20px;
        background-color: #f8f8f8;
        .btn {
            margin: 0 10px;
        }
    }
    &>section {
        padding: 20px;
        border-top: 2px solid #e4e4e4;
            overflow-x: scroll;

        header {
            overflow: hidden;
            margin-bottom: 20px;
            select {
                width: 6em;
            }
        }
    }
    table {
        background-color: #fff;
        thead {
            background-color: #bababa;
            color: #fff;
            th {
                text-align: center;
                border-bottom: none;
            }
        }
        td {
            text-align: center;
        }
        tbody td {
            line-height: 2;
        }
        .active {
            td {
                background-color: #0096ff!important;
                color: #fff!important;
            }
        }
    }
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
}

.newuser {
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    width: 500px;
    min-height: 400px;
    margin: 20px auto;
    /*transform: translate(-50%, -60%);*/
    .fa-close {
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 20px;
        color: #e40000;
        cursor: pointer;
    }
    .panel-body {
        color: #000;
    }
    h5 {
        font-size: 14px;
        padding-bottom: 6px;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
    }
    .row {
        padding-bottom: 4px;
        font-size: 12px;
        text-align: center;
        line-height: 26px;
        .col-md-4 {
            text-align: right;
        }
        .col-md-6 {
            text-align: center;
        }
        input[type=checkbox] {
            display: inline-block;
            vertical-align: middle;
        }
        input[type=text].form-control{
            height: 26px;
            padding: 4px 6px;
        }
        select{
        	height: 26px;
        	padding: 2px 4px;
        }
    }

    .subrow{
    	margin:8px 0 0;
    	.btn{
    		margin: 0 10px;
    	}
    }
}
