<div class="lay" ng-if="!isEn">
    <nav class="secnav">
        <h2>新建报表</h2>
        <ul>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.tp"><i class="fa fa-clone"></i>广告曝光受众分析</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.ap"><i class="fa fa-object-group"></i>受众属性报表</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.rc"><i class="fa fa-file-image-o"></i>到达率曲线</a>
            </li>
        </ul>
        <h2>历史报表</h2>
        <ul>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.reportlist({listtype:'tp'})"><i class="fa fa-clone"></i>广告曝光受众分析</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.reportlist({listtype:'ap'})"><i class="fa fa-object-group"></i>受众属性报表</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.reportlist({listtype:'rc'})"><i class="fa fa-file-image-o"></i>到达率曲线</a>
            </li>
        </ul>
    </nav>
    <div class="main sa">
        <h2>用户管理</h2>
        <div class="btns">
            <button class="btn btn-default" ng-click="clickAdd()">添加</button>
            <button class="btn btn-default" ng-click="edit()" ng-disabled="!activeRow">编辑</button>
            <button class="btn btn-default" ng-click="delUser()" ng-disabled="!activeRow">删除</button>
        </div>
        <section>
            <header>
                <div class="fl">
                    <span>Show</span>
                    <select ng-init="pageNumber=10" ng-model="pageNumber" ng-options="k for k in [5,10,50,100]" class="form-control">
                    </select>
                </div>
                <div class="fr">
                    <input type="search" ng-model="search.$" placeholder="search.." class="form-control">
                </div>
            </header>
            <table st-table="displayed" st-safe-src="rowCollection" class="table">
                <!--   <tr>
                    <th>
                        <input type="search" st-search ng-model="searchtxt" placeholder="search.." class="form-control">
                    </th>
                </tr> -->
                <thead>
                    <tr>
                        <th st-sort="name">User Name</th>
                        <th st-sort="password">password</th>
                        <th st-sort="gid">GID</th>
                        <th st-sort="role">Role</th>
                        <th st-sort="mediaplanning_demographic">
                          demographic</th>
                        <th st-sort="mediaplanning_media_habits">
                            media habits</th>
                        <th st-sort="mediaplanning_web_habits">
                            web habits</th>
                        <th st-sort="cpp_media_penetration">cpp <br>media_penetration</th>
                        <th st-sort="cpp_search_engines">cpp    <br>search_engines</th>
                        <th st-sort="cpp_ad_penetration">cpp    <br>ad_penetration</th>
                        <th st-sort="cpp_website_penetration">cpp   <br>website_penetration</th>
                        <th st-sort="cpp_search_key_penetration">cpp    <br>search_key_penetration</th>
                        <th st-sort="cpp_search_brand_penetration">cpp  <br>search_brand_penetration</th>
                        <th st-sort="cpp_shop_path">cpp <br>shop_path</th>
                        <th st-sort="cpp_shop_penetration">cpp  <br>shop_penetration</th> 
                        <th st-sort="crossreach_online_tv">OnlineTv</th>
                        <th st-sort="crossreach_pc_mobile">PcMobile</th>
                        <th st-sort="dmp">DMP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayed | filter:search" ng-click="choice(row,$index)" ng-class="{active:activeRow==row}">
                        <td>{{row.name}}</td>
                        <td>{{row.password}}</td>
                        <td>{{row.gid}}</td>
                        <td>{{row.role}}</td>
                        <td>{{row.mediaplanning_demographic}}</td>
                        <td>{{row.mediaplanning_media_habits}}</td>
                        <td>{{row.mediaplanning_web_habits}}</td>
                        <td>{{row.cpp_media_penetration || 0}}</td>
                        <td>{{row.cpp_search_engines || 0}}</td>
                        <td>{{row.cpp_ad_penetration || 0}}</td>
                        <td>{{row.cpp_website_penetration || 0}}</td>
                        <td>{{row.cpp_search_key_penetration || 0}}</td>
                        <td>{{row.cpp_search_brand_penetration || 0}}</td>
                        <td>{{row.cpp_shop_path || 0}}</td>
                        <td>{{row.cpp_shop_penetration || 0}}</td>
                        <td>{{row.crossreach_online_tv}}</td>
                        <td>{{row.crossreach_pc_mobile}}</td>
                        <td>{{row.dmp}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="13" class="text-center">
                            <div st-pagination st-items-by-page="pageNumber" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
    <div class="cover" ng-show="sa.isShowCover">
        <div class="panel panel-default newuser">
            <i class="fa fa-close" ng-click="cancel()"></i>
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{isNew ? '新建' : '编辑'}}用户
                </h3>
            </div>
            <div class="panel-body">
                <!-- <h5>用户信息</h5> -->
                <form ng-submit="saveUser()">
                    <div class="row" ng-repeat="i in inputs">
                        <div class="col-md-4 col-sm-6 col-xs-6">{{i.text}}</div>
                        <div class="col-md-6 col-sm-6 col-xs-6" ng-if="i.isText">
                            <input type="text" ng-model="formdata[i.id]" class="form-control" required>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6" ng-if="i.isSelect">
                            <select required ng-model="formdata[i.id]" class="form-control">
                                <option ng-selected="formdata[i.id]==k.id" ng-repeat="k in gids" value="{{k.id}}">
                                    {{k.text}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6" ng-if="i.isBox">
                            <input type="checkbox" ng-model="formdata[i.id]">
                        </div>
                    </div>
                    <div class="row subrow">
                        <input type="submit" value="保存" class="btn btn-primary">
                        <div class="btn btn-danger" ng-click="cancel()">取消</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- en -->
<div class="lay" ng-if="isEn">
    <nav class="secnav">
        <h2>New Reports</h2>
        <ul>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.tp"><i class="fa fa-clone"></i>Target Performance Report</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.ap"><i class="fa fa-object-group"></i>Audience Profile Report</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.rc"><i class="fa fa-file-image-o"></i>Reach Curve Report</a>
            </li>
        </ul>
        <h2>History Reports</h2>
        <ul>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.reportlist({listtype:'tp'})"><i class="fa fa-clone"></i>Target Performance Report</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.reportlist({listtype:'ap'})"><i class="fa fa-object-group"></i>Audience Profile Report</a>
            </li>
            <li>
                <a ui-sref-active="active" ui-sref="home.grp.reportlist({listtype:'rc'})"><i class="fa fa-file-image-o"></i>Reach Curve Report</a>
            </li>
        </ul>
    </nav>
    <div class="main sa">
        <h2>USER Management</h2>
        <div class="btns">
            <button class="btn btn-default" ng-click="clickAdd()">Create New</button>
            <button class="btn btn-default" ng-click="edit();" ng-disabled="!activeRow">Edit</button>
            <button class="btn btn-default" ng-click="delUser()" ng-disabled="!activeRow">Delete</button>
        </div>
        <section>
            <header>
                <div class="fl">
                    <span>Show</span>
                    <select ng-init="pageNumber=10" ng-model="pageNumber" ng-options="k for k in [5,10,50,100]" class="form-control">
                    </select>
                </div>
                <div class="fr">
                    <input type="search" ng-model="search.$" placeholder="search.." class="form-control">
                </div>
            </header>
            <table st-table="displayed" st-safe-src="rowCollection" class="table">
                <thead>
                    <tr>
                         <th st-sort="name">User Name</th>
                        <th st-sort="password">password</th>
                        <th st-sort="gid">GID</th>
                        <th st-sort="role">Role</th>
                        <th st-sort="mediaplanning_demographic">
                          demographic</th>
                        <th st-sort="mediaplanning_media_habits">
                            media habits</th>
                        <th st-sort="mediaplanning_web_habits">
                            web habits</th>
                        <th st-sort="cpp_media_penetration">cpp_media_penetration</th>
                        <th st-sort="cpp_search_engines">cpp_search_engines</th>
                        <th st-sort="cpp_ad_penetration">cpp_ad_penetration</th>
                        <th st-sort="cpp_website_penetration">cpp_website_penetration</th>
                        <th st-sort="cpp_search_key_penetration">cpp_search_key_penetration</th>
                        <th st-sort="cpp_search_brand_penetration">cpp_search_brand_penetration</th>
                        <th st-sort="cpp_shop_path">cpp_shop_path</th>
                        <th st-sort="cpp_shop_penetration">cpp_shop_penetration</th> 
                        <th st-sort="crossreach_online_tv">OnlineTv</th>
                        <th st-sort="crossreach_pc_mobile">PcMobile</th>
                        <th st-sort="dmp">DMP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayed | filter:search" ng-click="choice(row,$index)" ng-class="{active:activeRow==row}">
                         <td>{{row.name}}</td>
                        <td>{{row.password}}</td>
                        <td>{{row.gid}}</td>
                        <td>{{row.role}}</td>
                        <td>{{row.mediaplanning_demographic}}</td>
                        <td>{{row.mediaplanning_media_habits}}</td>
                        <td>{{row.mediaplanning_web_habits}}</td>
                        <td>{{row.cpp_media_penetration || 0}}</td>
                        <td>{{row.cpp_search_engines || 0}}</td>
                        <td>{{row.cpp_ad_penetration || 0}}</td>
                        <td>{{row.cpp_website_penetration || 0}}</td>
                        <td>{{row.cpp_search_key_penetration || 0}}</td>
                        <td>{{row.cpp_search_brand_penetration || 0}}</td>
                        <td>{{row.cpp_shop_path || 0}}</td>
                        <td>{{row.cpp_shop_penetration || 0}}</td>
                        <td>{{row.crossreach_online_tv}}</td>
                        <td>{{row.crossreach_pc_mobile}}</td>
                        <td>{{row.dmp}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="13" class="text-center">
                            <div st-pagination st-items-by-page="pageNumber" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
    <div class="cover" ng-show="sa.isShowCover">
        <div class="panel panel-default newuser">
            <i class="fa fa-close" ng-click="cancel()"></i>
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{isNew ? 'Add' : 'Edit'}} User
                </h3>
            </div>
            <div class="panel-body">
                <!-- <h5>用户信息</h5> -->
                <form ng-submit="saveUser()">
                    <div class="row" ng-repeat="i in inputs">
                        <div class="col-md-4 col-sm-6 col-xs-6">{{i.text}}</div>
                        <div class="col-md-6 col-sm-6 col-xs-6" ng-if="i.isText">
                            <input type="text" ng-model="formdata[i.id]" class="form-control" required>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6" ng-if="i.isSelect">
                            <select required ng-model="formdata[i.id]" class="form-control">
                                <option ng-selected="formdata[i.id]==k.id" ng-repeat="k in gids" value="{{k.id}}">
                                    {{k.text}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6" ng-if="i.isBox">
                            <input type="checkbox" ng-model="formdata[i.id]">
                        </div>
                    </div>
                    <div class="row subrow">
                        <input type="submit" value="保存" class="btn btn-primary">
                        <div class="btn btn-danger" ng-click="cancel()">取消</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
