<div class="lay">
  <nav class="secnav" style="min-width: 200px;min-height: 200px ">
    <div ng-repeat="pitem in cpp.links" ng-show="pitem.isShowTitle">
      <h2>{{pitem.name}}</h2>
      <ul style="margin-top: -20px;">
        <li  ng-repeat="citem in pitem.children" ng-show="cpp.userInfo[citem.id]=='1' || cpp.userInfo.role=='admin'">
          <a ng-click="cpp.changeLink(citem)" ng-class="{active:citem.name==cpp.activeLink.name}">{{citem.name}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="main" style="padding-bottom: 50px;background: #fff">
    <iframe src="" frameborder="0" id="cppIframe" style="width: 100%;min-height: 820px;"></iframe>
  </div>

</div>
